# Table of Contents
 <p><div class="lev1"><a href="#Introduction-to-Pandas"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to Pandas</a></div><div class="lev2"><a href="#Pandas-Data-Structures"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Pandas Data Structures</a></div><div class="lev3"><a href="#Series"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Series</a></div><div class="lev3"><a href="#DataFrame"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>DataFrame</a></div><div class="lev3"><a href="#Exercise-1"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Exercise 1</a></div><div class="lev3"><a href="#Exercise-2"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Exercise 2</a></div><div class="lev2"><a href="#Importing-data"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Importing data</a></div><div class="lev3"><a href="#Microsoft-Excel"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Microsoft Excel</a></div><div class="lev2"><a href="#Pandas-Fundamentals"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pandas Fundamentals</a></div><div class="lev3"><a href="#Manipulating-indices"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Manipulating indices</a></div><div class="lev2"><a href="#Indexing-and-Selection"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Indexing and Selection</a></div><div class="lev3"><a href="#Exercise-3"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Exercise 3</a></div><div class="lev2"><a href="#Operations"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Operations</a></div><div class="lev2"><a href="#Sorting-and-Ranking"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Sorting and Ranking</a></div><div class="lev3"><a href="#Exercise-4"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Exercise 4</a></div><div class="lev2"><a href="#Hierarchical-indexing"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Hierarchical indexing</a></div><div class="lev2"><a href="#Missing-data"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Missing data</a></div><div class="lev3"><a href="#Exercise-5"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Exercise 5</a></div><div class="lev2"><a href="#Data-summarization"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Data summarization</a></div><div class="lev2"><a href="#Writing-Data-to-Files"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Writing Data to Files</a></div><div class="lev3"><a href="#Advanced-Exercise:-Compiling-Ebola-Data"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Advanced Exercise: Compiling Ebola Data</a></div><div class="lev2"><a href="#References"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>References</a></div>

# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

In [2]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

## Pandas Data Structures

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
counts.values

array([ 632, 1638,  569,  115])

In [5]:
counts.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [6]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [7]:
bacteria['Actinobacteria']

569

In [8]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

In [9]:
[name.endswith('bacteria') for name in bacteria.index]

[False, True, True, False]

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [10]:
bacteria[0]

632

We can give both the array of values and the index meaningful labels themselves:

In [11]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: counts, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [12]:
# natural logarithm
np.log(bacteria)
# log base 10
np.log10(bacteria)

phylum
Firmicutes        2.800717
Proteobacteria    3.214314
Actinobacteria    2.755112
Bacteroidetes     2.060698
Name: counts, dtype: float64

We can also filter according to the values in the `Series`:

In [13]:
bacteria[bacteria>1000]

phylum
Proteobacteria    1638
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [14]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569,
                 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the `NaN` (not a number) type for missing values.

In [15]:
bacteria2 = pd.Series(bacteria_dict, 
                      index=['Cyanobacteria','Firmicutes',
                             'Proteobacteria','Actinobacteria'])
bacteria2

Cyanobacteria        NaN
Firmicutes         632.0
Proteobacteria    1638.0
Actinobacteria     569.0
dtype: float64

In [16]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [17]:
bacteria + bacteria2

Actinobacteria    1138.0
Bacteroidetes        NaN
Cyanobacteria        NaN
Firmicutes        1264.0
Proteobacteria    3276.0
dtype: float64

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [18]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [19]:
data[['phylum','value','patient']]

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

A `DataFrame` has a second index, representing the columns:

In [20]:
data.columns

Index(['patient', 'phylum', 'value'], dtype='object')

The `dtypes` attribute reveals the data type for each column in our DataFrame. 

- `int64` is numeric integer values 
- `object` strings (letters and numbers)
- `float64` floating-point values

In [21]:
data.dtypes

patient     int64
phylum     object
value       int64
dtype: object

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [22]:
data['patient']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
Name: patient, dtype: int64

In [23]:
data.patient

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
Name: patient, dtype: int64

In [24]:
type(data.value)

pandas.core.series.Series

In [25]:
data[['value']]

   value
0    632
1   1638
2    569
3    115
4    433
5   1130
6    754
7    555

Notice this is different than with `Series`, where dict-like indexing retrieved a particular element (row). 

If we want access to a row in a `DataFrame`, we index its `loc` attribute.

In [26]:
data.loc[3]

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

### Exercise 1

Try out these commands to see what they return:

- `data.head()`
- `data.tail(3)`
- `data.shape`

In [27]:
data.head() # returns the first (5 by default) rows of data.

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433

In [28]:
data.tail(3) # returns the 3 last rows of data

   patient          phylum  value
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [29]:
data.shape # returns the dimension of data (nbr rows, nbr cols)

(8, 3)

An alternative way of initializing a `DataFrame` is with a list of dicts:

In [30]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [31]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

Its important to note that the Series returned when a DataFrame is indexted is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [32]:
vals = data.value
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [33]:
vals[5] = 0
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: int64

If we plan on modifying an extracted Series, its a good idea to make a copy.

In [34]:
vals = data.value.copy()
vals[5] = 1000
vals

0     632
1    1638
2     569
3     115
4     433
5    1000
6     754
7     555
Name: value, dtype: int64

We can create or modify columns by assignment:

In [35]:
data.value[[3,4,6]] = [14, 21, 5]
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes     14
4        2      Firmicutes     21
5        2  Proteobacteria      0
6        2  Actinobacteria      5
7        2   Bacteroidetes    555

In [36]:
data['year'] = 2013
data

   patient          phylum  value  year
0        1      Firmicutes    632  2013
1        1  Proteobacteria   1638  2013
2        1  Actinobacteria    569  2013
3        1   Bacteroidetes     14  2013
4        2      Firmicutes     21  2013
5        2  Proteobacteria      0  2013
6        2  Actinobacteria      5  2013
7        2   Bacteroidetes    555  2013

But note, we cannot use the attribute indexing method to add a new column:

In [37]:
data.treatment = 1
data

   patient          phylum  value  year
0        1      Firmicutes    632  2013
1        1  Proteobacteria   1638  2013
2        1  Actinobacteria    569  2013
3        1   Bacteroidetes     14  2013
4        2      Firmicutes     21  2013
5        2  Proteobacteria      0  2013
6        2  Actinobacteria      5  2013
7        2   Bacteroidetes    555  2013

In [38]:
data.treatment

1

### Exercise 2

From the `data` table above, create an index to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

----------------------------
Find the values of 'phylum' ending in 'bacteria'

In [39]:
colwitbacteria = [col for col in data['phylum'] if col.endswith('bacteria')]
colwitbacteria

['Proteobacteria', 'Actinobacteria', 'Proteobacteria', 'Actinobacteria']

then filter the rows having one of the 'bacteria' values

In [117]:
rowswithbacteria = data[data['phylum'].isin(colwitbacteria)]

1    1638
2     569
5       0
6       5
Name: value, dtype: int64

then take the values bigger than 1000

In [119]:
rowswithbacteria[rowswithbacteria.value > 1000]

   patient          phylum  value  year  treatment month
1        1  Proteobacteria   1638  2013        0.0   Jan

Note that it is probably faster to first filter the values bigger than 1000 as it filters more values out.
----------------------

Specifying a `Series` as a new columns cause its values to be added according to the `DataFrame`'s index:

In [42]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [43]:
data['treatment'] = treatment
data

   patient          phylum  value  year  treatment
0        1      Firmicutes    632  2013        0.0
1        1  Proteobacteria   1638  2013        0.0
2        1  Actinobacteria    569  2013        0.0
3        1   Bacteroidetes     14  2013        0.0
4        2      Firmicutes     21  2013        1.0
5        2  Proteobacteria      0  2013        1.0
6        2  Actinobacteria      5  2013        NaN
7        2   Bacteroidetes    555  2013        NaN

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [44]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
# data['month'] = month # throws error (done on puropse)

In [45]:
data['month'] = ['Jan']*len(data)
data

   patient          phylum  value  year  treatment month
0        1      Firmicutes    632  2013        0.0   Jan
1        1  Proteobacteria   1638  2013        0.0   Jan
2        1  Actinobacteria    569  2013        0.0   Jan
3        1   Bacteroidetes     14  2013        0.0   Jan
4        2      Firmicutes     21  2013        1.0   Jan
5        2  Proteobacteria      0  2013        1.0   Jan
6        2  Actinobacteria      5  2013        NaN   Jan
7        2   Bacteroidetes    555  2013        NaN   Jan

We can use the `drop` method to remove rows or columns, which by default drops rows. We can be explicit by using the `axis` argument:

In [46]:
data_nomonth = data.drop('month', axis=1)
data_nomonth

   patient          phylum  value  year  treatment
0        1      Firmicutes    632  2013        0.0
1        1  Proteobacteria   1638  2013        0.0
2        1  Actinobacteria    569  2013        0.0
3        1   Bacteroidetes     14  2013        0.0
4        2      Firmicutes     21  2013        1.0
5        2  Proteobacteria      0  2013        1.0
6        2  Actinobacteria      5  2013        NaN
7        2   Bacteroidetes    555  2013        NaN

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [47]:
data.values

array([[1, 'Firmicutes', 632, 2013, 0.0, 'Jan'],
       [1, 'Proteobacteria', 1638, 2013, 0.0, 'Jan'],
       [1, 'Actinobacteria', 569, 2013, 0.0, 'Jan'],
       [1, 'Bacteroidetes', 14, 2013, 0.0, 'Jan'],
       [2, 'Firmicutes', 21, 2013, 1.0, 'Jan'],
       [2, 'Proteobacteria', 0, 2013, 1.0, 'Jan'],
       [2, 'Actinobacteria', 5, 2013, nan, 'Jan'],
       [2, 'Bacteroidetes', 555, 2013, nan, 'Jan']], dtype=object)

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [48]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df.values

array([[ 0.4,  1. ],
       [-1. ,  2. ],
       [ 4.5,  3. ]])

Pandas uses a custom data structure to represent the indices of Series and DataFrames.

In [49]:
data.index

RangeIndex(start=0, stop=8, step=1)

Index objects are immutable:

In [50]:
# data.index[0] = 15 # throws error

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [51]:
bacteria2.index = bacteria.index

In [52]:
bacteria2

phylum
Firmicutes           NaN
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [53]:
!cat Data/microbiome.csv

Taxon,Patient,Group,Tissue,Stool
Firmicutes,1,0,136,4182
Firmicutes,2,1,1174,703
Firmicutes,3,0,408,3946
Firmicutes,4,1,831,8605
Firmicutes,5,0,693,50
Firmicutes,6,1,718,717
Firmicutes,7,0,173,33
Firmicutes,8,1,228,80
Firmicutes,9,0,162,3196
Firmicutes,10,1,372,32
Firmicutes,11,0,4255,4361
Firmicutes,12,1,107,1667
Firmicutes,13,0,96,223
Firmicutes,14,1,281,2377
Proteobacteria,1,0,2469,1821
Proteobacteria,2,1,839,661
Proteobacteria,3,0,4414,18
Proteobacteria,4,1,12044,83
Proteobacteria,5,0,2310,12
Proteobacteria,6,1,3053,547
Proteobacteria,7,0,395,2174
Proteobacteria,8,1,2651,767
Proteobacteria,9,0,1195,76
Proteobacteria,10,1,6857,795
Proteobacteria,11,0,483,666
Proteobacteria,12,1,2950,3994
Proteobacteria,13,0,1541,816
Proteobacteria,14,1,1307,53
Actinobacteria,1,0,1590,4
Actinobacteria,2,1,25,2
Actinobacteria,3,0,259,300
Actinobacteria,4,1,568,7
Actinobacteria,5,0,1102,9
Actinobacteria,6,1,678,377
Actinobacteria,7,0,260,58
Actinobacteria,8,1,424,233
Actinobacteria,9,0,548,21
Actinobacteria,10,1,201,83
Actinobacteria,11,0,42,75
Actinobacteria,12,1,109,59
Actinobacteria,13,0,51,183
Actinobacteria,14,1,310,204
Bacteroidetes,1,0,67,0
Bacteroidetes,2,1,0,0
Bacteroidetes,3,0,85,5
Bacteroidetes,4,1,143,7
Bacteroidetes,5,0,678,2
Bacteroidetes,6,1,4829,209
Bacteroidetes,7,0,74,651
Bacteroidetes,8,1,169,254
Bacteroidetes,9,0,106,10
Bacteroidetes,10,1,73,381
Bacteroidetes,11,0,30,359
Bacteroidetes,12,1,51,51
Bacteroidetes,13,0,2473,2314
Bacteroidetes,14,1,102,33
Other,1,0,195,18
Other,2,1,42,2
Other,3,0,316,43
Other,4,1,202,40
Other,5,0,116,0
Other,6,1,527,12
Other,7,0,357,11
Other,8,1,106,11
Other,9,0,67,14
Other,10,1,203,6
Other,11,0,392,6
Other,12,1,28,25
Other,13,0,12,22
Other,14,1,305,32

This table can be read into a DataFrame using `read_csv`:

In [54]:
mb = pd.read_csv("Data/microbiome.csv")
mb

             Taxon  Patient  Group  Tissue  Stool
0       Firmicutes        1      0     136   4182
1       Firmicutes        2      1    1174    703
2       Firmicutes        3      0     408   3946
3       Firmicutes        4      1     831   8605
4       Firmicutes        5      0     693     50
5       Firmicutes        6      1     718    717
6       Firmicutes        7      0     173     33
7       Firmicutes        8      1     228     80
8       Firmicutes        9      0     162   3196
9       Firmicutes       10      1     372     32
10      Firmicutes       11      0    4255   4361
11      Firmicutes       12      1     107   1667
12      Firmicutes       13      0      96    223
13      Firmicutes       14      1     281   2377
14  Proteobacteria        1      0    2469   1821
15  Proteobacteria        2      1     839    661
16  Proteobacteria        3      0    4414     18
17  Proteobacteria        4      1   12044     83
18  Proteobacteria        5      0    2310     12
19  Proteobacteria        6      1    3053    547
20  Proteobacteria        7      0     395   2174
21  Proteobacteria        8      1    2651    767
22  Proteobacteria        9      0    1195     76
23  Proteobacteria       10      1    6857    795
24  Proteobacteria       11      0     483    666
25  Proteobacteria       12      1    2950   3994
26  Proteobacteria       13      0    1541    816
27  Proteobacteria       14      1    1307     53
28  Actinobacteria        1      0    1590      4
29  Actinobacteria        2      1      25      2
..             ...      ...    ...     ...    ...
40  Actinobacteria       13      0      51    183
41  Actinobacteria       14      1     310    204
42   Bacteroidetes        1      0      67      0
43   Bacteroidetes        2      1       0      0
44   Bacteroidetes        3      0      85      5
45   Bacteroidetes        4      1     143      7
46   Bacteroidetes        5      0     678      2
47   Bacteroidetes        6      1    4829    209
48   Bacteroidetes        7      0      74    651
49   Bacteroidetes        8      1     169    254
50   Bacteroidetes        9      0     106     10
51   Bacteroidetes       10      1      73    381
52   Bacteroidetes       11      0      30    359
53   Bacteroidetes       12      1      51     51
54   Bacteroidetes       13      0    2473   2314
55   Bacteroidetes       14      1     102     33
56           Other        1      0     195     18
57           Other        2      1      42      2
58           Other        3      0     316     43
59           Other        4      1     202     40
60           Other        5      0     116      0
61           Other        6      1     527     12
62           Other        7      0     357     11
63           Other        8      1     106     11
64           Other        9      0      67     14
65           Other       10      1     203      6
66           Other       11      0     392      6
67           Other       12      1      28     25
68           Other       13      0      12     22
69           Other       14      1     305     32

[70 rows x 5 columns]

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [55]:
pd.read_csv("Data/microbiome.csv", header=None).head()

            0        1      2       3      4
0       Taxon  Patient  Group  Tissue  Stool
1  Firmicutes        1      0     136   4182
2  Firmicutes        2      1    1174    703
3  Firmicutes        3      0     408   3946
4  Firmicutes        4      1     831   8605

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [56]:
mb = pd.read_table("Data/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is unfortunately very common in some data formats: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [57]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Patient','Taxon'])
mb.head()

                    Group  Tissue  Stool
Patient Taxon
1       Firmicutes      0     136   4182
2       Firmicutes      1    1174    703
3       Firmicutes      0     408   3946
4       Firmicutes      1     831   8605
5       Firmicutes      0     693     50

This is called a *hierarchical* index, which we will revisit later in the section.

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [58]:
pd.read_csv("Data/microbiome.csv", skiprows=[3,4,6]).head()

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        1      0     136   4182
1  Firmicutes        2      1    1174    703
2  Firmicutes        5      0     693     50
3  Firmicutes        7      0     173     33
4  Firmicutes        8      1     228     80

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [59]:
pd.read_csv("Data/microbiome.csv", nrows=4)

        Taxon  Patient  Group  Tissue  Stool
0  Firmicutes        1      0     136   4182
1  Firmicutes        2      1    1174    703
2  Firmicutes        3      0     408   3946
3  Firmicutes        4      1     831   8605

Alternately, if we want to process our data in reasonable chunks, the `chunksize` argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 14 patients represented in each:

In [60]:
pd.read_csv("Data/microbiome.csv", chunksize=14)

In [61]:
data_chunks = pd.read_csv("Data/microbiome.csv", chunksize=14)

mean_tissue = pd.Series({chunk.Taxon[0]: chunk.Tissue.mean() for chunk in data_chunks})
    
mean_tissue

Actinobacteria     440.500000
Bacteroidetes      634.285714
Firmicutes         688.142857
Other              204.857143
Proteobacteria    3036.285714
dtype: float64

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [62]:
!cat Data/microbiome_missing.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,NA
Firmicutes,10,162,3196
Firmicutes,11,372,-99999
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,?,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

In [63]:
pd.read_csv("Data/microbiome_missing.csv").head(20)

             Taxon  Patient Tissue    Stool
0       Firmicutes        1    632    305.0
1       Firmicutes        2    136   4182.0
2       Firmicutes        3    NaN    703.0
3       Firmicutes        4    408   3946.0
4       Firmicutes        5    831   8605.0
5       Firmicutes        6    693     50.0
6       Firmicutes        7    718    717.0
7       Firmicutes        8    173     33.0
8       Firmicutes        9    228      NaN
9       Firmicutes       10    162   3196.0
10      Firmicutes       11    372 -99999.0
11      Firmicutes       12   4255   4361.0
12      Firmicutes       13    107   1667.0
13      Firmicutes       14      ?    223.0
14      Firmicutes       15    281   2377.0
15  Proteobacteria        1   1638   3886.0
16  Proteobacteria        2   2469   1821.0
17  Proteobacteria        3    839    661.0
18  Proteobacteria        4   4414     18.0
19  Proteobacteria        5  12044     83.0

Above, Pandas recognized `NA` and an empty field as missing data.

In [64]:
pd.isnull(pd.read_csv("Data/microbiome_missing.csv")).head(20)

    Taxon Patient Tissue  Stool
0   False   False  False  False
1   False   False  False  False
2   False   False   True  False
3   False   False  False  False
4   False   False  False  False
5   False   False  False  False
6   False   False  False  False
7   False   False  False  False
8   False   False  False   True
9   False   False  False  False
10  False   False  False  False
11  False   False  False  False
12  False   False  False  False
13  False   False  False  False
14  False   False  False  False
15  False   False  False  False
16  False   False  False  False
17  False   False  False  False
18  False   False  False  False
19  False   False  False  False

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [65]:
pd.read_csv("Data/microbiome_missing.csv", na_values=['?', -99999]).head(20)

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

### Microsoft Excel

Since so much financial and scientific data ends up in Excel spreadsheets (regrettably), Pandas' ability to directly import Excel spreadsheets is valuable. This support is contingent on having one or two dependencies (depending on what version of Excel file is being imported) installed: `xlrd` and `openpyxl` (these may be installed with either `pip` or `easy_install`).

The read_excel convenience function in pandas imports a specific sheet from an Excel file

In [66]:
mb = pd.read_excel('Data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb.head()

                                                   0   1
0  Archaea "Crenarchaeota" Thermoprotei Acidiloba...   2
1  Archaea "Crenarchaeota" Thermoprotei Acidiloba...  14
2  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  23
3  Archaea "Crenarchaeota" Thermoprotei Desulfuro...   1
4  Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2

There are several other data formats that can be imported into Python and converted into DataFrames, with the help of buitl-in or third-party libraries. These include JSON, XML, HDF5, relational and non-relational databases, and various web APIs. These are beyond the scope of this tutorial, but are covered in [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do).

## Pandas Fundamentals

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [67]:
baseball = pd.read_csv("Data/baseball.csv", index_col='id')
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [68]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

This looks okay, but let's check:

In [69]:
baseball_newind.index.is_unique

False

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [70]:
pd.Series(baseball_newind.index).value_counts()

claytro012007    2
benitar012007    2
sweenma012007    2
francju012007    2
gomezch022007    2
loftoke012007    2
trachst012007    2
hernaro012007    2
coninje012007    2
cirilje012007    2
wickmbo012007    2
wellsda012007    2
guarded012007    1
myersmi012007    1
witasja012007    1
johnsra052006    1
tavarju012007    1
perezne012007    1
myersmi012006    1
sandere022007    1
rodriiv012007    1
womacto012006    1
parkch012007     1
suppaje012007    1
easleda012007    1
piazzmi012007    1
villoro012007    1
griffke022007    1
sprinru012007    1
kleskry012007    1
                ..
walketo042007    1
ramirma022007    1
finlest012006    1
floydcl012007    1
finlest012007    1
whiteri012007    1
bondsba012007    1
helliri012006    1
maddugr012007    1
biggicr012007    1
moyerja012007    1
whitero022007    1
gonzalu012006    1
seaneru012007    1
sosasa012007     1
kentje012007     1
edmonji012007    1
wakefti012007    1
seleaa012006     1
timlimi012007    1
valenjo032007    1
sheffga012007    1
oliveda022007    1
alomasa022007    1
schmija012007    1
thomafr042007    1
clemero022007    1
cormirh012007    1
gonzalu012007    1
zaungr012007     1
dtype: int64

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [71]:
baseball_newind.loc['wickmbo012007']

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
wickmbo012007,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
wickmbo012007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [72]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0

In [73]:
baseball_newind.index.is_unique

True

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [74]:
baseball.reindex(baseball.index[::-1]).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and Pandas would fill in the missing data with `NaN` values:

In [75]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006.0,2.0,CHN,NL,19.0,50.0,6.0,14.0,1.0,...,2.0,1.0,1.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0
88642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88643,schilcu01,2006.0,1.0,BOS,AL,31.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
88644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88645,myersmi01,2006.0,1.0,NYA,AL,62.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Missing values can be filled as desired, either with selected values, or by rule:

In [76]:
baseball.reindex(id_range, method='ffill', columns=['player','year']).head()

          player  year
id
88641  womacto01  2006
88642  womacto01  2006
88643  schilcu01  2006
88644  schilcu01  2006
88645  myersmi01  2006

In [77]:
baseball.reindex(id_range, fill_value='charliebrown', columns=['player']).head()

             player
id
88641     womacto01
88642  charliebrown
88643     schilcu01
88644  charliebrown
88645     myersmi01

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [78]:
baseball.shape

(100, 22)

In [79]:
baseball.drop([89525, 89526])

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89452,hernaro01,2007,1,CLE,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [80]:
baseball.drop(['ibb','hbp'], axis=1)

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2.0,1.0,1.0,4,4.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,12,6,40.0,7.0,0.0,46,55.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,2,15,73.0,0.0,1.0,69,58.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,0,0,0.0,0.0,0.0,1,7.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,0,0,8.0,0.0,0.0,4,10.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,0,1,8.0,2.0,1.0,10,13.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,1,10,52.0,0.0,0.0,51,55.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,0,1,2.0,0.0,0.0,0,25.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,0,4,20.0,0.0,0.0,6,19.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,0,0,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,0,0,0.0,0.0,0.0,0,12.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,0,0,4.0,0.0,0.0,2,4.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,3,4,51.0,14.0,6.0,44,48.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,1,3,18.0,2.0,1.0,15,28.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,0,35,96.0,0.0,1.0,95,134.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,0,26,95.0,0.0,0.0,81,94.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,1,30,93.0,6.0,1.0,85,99.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,1,10,46.0,11.0,1.0,37,62.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,0,9,30.0,0.0,1.0,24,44.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,2,15,68.0,6.0,2.0,56,56.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,0,0,5.0,0.0,0.0,0,6.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,1,1,16.0,1.0,2.0,10,20.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,0,0,4.0,0.0,0.0,6,5.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,1,9,45.0,0.0,0.0,35,47.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,0,1,2.0,0.0,0.0,8,4.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,2,12,53.0,0.0,2.0,41,75.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,0,10,26.0,0.0,1.0,19,35.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,0,24,87.0,4.0,0.0,52,118.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,0,0,5.0,0.0,0.0,7,8.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,1,6,32.0,4.0,0.0,20,28.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,0,1,12.0,2.0,1.0,14,50.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,0,0,6.0,0.0,0.0,4,6.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,2,2,21.0,2.0,0.0,15,13.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,0,28,66.0,5.0,0.0,132,54.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,3,10,50.0,4.0,3.0,23,112.0,7.0,5.0,5.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,3,3,25.0,6.0,1.0,37,74.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49.0,3.0,0.0,27,30.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [81]:
# Sample Series object
hits = baseball_newind.h
hits

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, dtype: int64

In [82]:
# Numpy-style indexing
hits[:3]

womacto01CHN2006    14
schilcu01BOS2006     1
myersmi01NYA2006     0
Name: h, dtype: int64

In [83]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

womacto01CHN2006    14
schilcu01BOS2006     1
Name: h, dtype: int64

We can also slice with data labels, since they have an intrinsic order within the Index:

In [84]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
Name: h, dtype: int64

In [85]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

womacto01CHN2006      5
schilcu01BOS2006      5
myersmi01NYA2006      5
helliri01MIL2006      5
johnsra05NYA2006      5
finlest01SFN2006      5
gonzalu01ARI2006      5
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, dtype: int64

In a `DataFrame` we can slice along either or both axes:

In [86]:
baseball_newind[['h','ab']]

                    h   ab
womacto01CHN2006    5   50
schilcu01BOS2006    5    2
myersmi01NYA2006    5    0
helliri01MIL2006    5    3
johnsra05NYA2006    5    6
finlest01SFN2006    5  426
gonzalu01ARI2006    5  586
seleaa01LAN2006     5   26
francju01ATL2007   10   40
francju01NYN2007   10   50
zaungr01TOR2007    80  331
witasja01TBA2007    0    0
williwo02HOU2007    6   59
wickmbo01ARI2007    0    0
wickmbo01ATL2007    0    0
whitero02MIN2007   19  109
whiteri01HOU2007    0    1
wellsda01LAN2007    4   15
wellsda01SDN2007    4   38
weathda01CIN2007    0    0
walketo04OAK2007   13   48
wakefti01BOS2007    0    2
vizquom01SFN2007  126  513
villoro01NYA2007    0    0
valenjo03NYN2007   40  166
trachst01CHN2007    1    7
trachst01BAL2007    0    5
timlimi01BOS2007    0    0
thomeji01CHA2007  119  432
thomafr04TOR2007  147  531
...               ...  ...
guarded01CIN2007    0    0
griffke02CIN2007  146  528
greensh01NYN2007  130  446
graffto01MIL2007   55  231
gordoto01PHI2007    0    0
gonzalu01LAN2007  129  464
gomezch02CLE2007   15   53
gomezch02BAL2007   51  169
glavito02NYN2007   12   56
floydcl01CHN2007   80  282
finlest01COL2007   17   94
embreal01OAK2007    0    0
edmonji01SLN2007   92  365
easleda01NYN2007   54  193
delgaca01NYN2007  139  538
cormirh01CIN2007    0    0
coninje01NYN2007    8   41
coninje01CIN2007   57  215
clemero02NYA2007    1    2
claytro01BOS2007    0    6
claytro01TOR2007   48  189
cirilje01ARI2007    8   40
cirilje01MIN2007   40  153
bondsba01SFN2007   94  340
biggicr01HOU2007  130  517
benitar01FLO2007    0    0
benitar01SFN2007    0    0
ausmubr01HOU2007   82  349
aloumo01NYN2007   112  328
alomasa02NYN2007    3   22

[100 rows x 2 columns]

In [87]:
baseball_newind[baseball_newind.ab>500]

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
gonzalu01ARI2006,gonzalu01,2006,1,ARI,NL,153,586,93,5,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
vizquom01SFN2007,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
thomafr04TOR2007,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
rodriiv01DET2007,rodriiv01,2007,1,DET,AL,129,502,50,141,31,...,63.0,2.0,2.0,9,96.0,1.0,1.0,1.0,2.0,16.0
griffke02CIN2007,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
delgaca01NYN2007,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
biggicr01HOU2007,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0

For a more concise (and readable) syntax, we can use the new `query` method to perform selection on a `DataFrame`. Instead of having to type the fully-specified column, we can simply pass a string that describes what to select. The query above is then simply:

In [88]:
baseball_newind.query('ab > 500')

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
gonzalu01ARI2006,gonzalu01,2006,1,ARI,NL,153,586,93,5,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
vizquom01SFN2007,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
thomafr04TOR2007,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
rodriiv01DET2007,rodriiv01,2007,1,DET,AL,129,502,50,141,31,...,63.0,2.0,2.0,9,96.0,1.0,1.0,1.0,2.0,16.0
griffke02CIN2007,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
delgaca01NYN2007,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
biggicr01HOU2007,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0

The `DataFrame.index` and `DataFrame.columns` are placed in the query namespace by default. If you want to refer to a variable in the current namespace, you can prefix the variable with `@`:

In [89]:
min_ab = 450

In [90]:
baseball_newind.query('ab > @min_ab')

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
gonzalu01ARI2006,gonzalu01,2006,1,ARI,NL,153,586,93,5,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
vizquom01SFN2007,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
thomafr04TOR2007,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
sheffga01DET2007,sheffga01,2007,1,DET,AL,133,494,107,131,20,...,75.0,22.0,5.0,84,71.0,2.0,9.0,0.0,6.0,10.0
rodriiv01DET2007,rodriiv01,2007,1,DET,AL,129,502,50,141,31,...,63.0,2.0,2.0,9,96.0,1.0,1.0,1.0,2.0,16.0
ramirma02BOS2007,ramirma02,2007,1,BOS,AL,133,483,84,143,33,...,88.0,0.0,0.0,71,92.0,13.0,7.0,0.0,8.0,21.0
kentje01LAN2007,kentje01,2007,1,LAN,NL,136,494,78,149,36,...,79.0,1.0,3.0,57,61.0,4.0,5.0,0.0,6.0,17.0
griffke02CIN2007,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
gonzalu01LAN2007,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
delgaca01NYN2007,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
biggicr01HOU2007,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0

The indexing field `loc` allows us to select subsets of rows and columns in an intuitive way:

In [91]:
baseball_newind.loc['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

h       5
X2b    52
X3b     2
hr     15
Name: gonzalu01ARI2006, dtype: object

In [92]:
baseball_newind.loc[:'myersmi01NYA2006', 'hr']

womacto01CHN2006    1
schilcu01BOS2006    0
myersmi01NYA2006    0
Name: hr, dtype: int64

In addition to using `loc` to select rows and columns by **label**, pandas also allows indexing by **position** using the `iloc` attribute.

So, we can query rows and columns by absolute position, rather than by name:

In [93]:
baseball_newind.iloc[:5, 5:8]

                   g  ab  r
womacto01CHN2006  19  50  6
schilcu01BOS2006  31   2  0
myersmi01NYA2006  62   0  0
helliri01MIL2006  20   3  0
johnsra05NYA2006  33   6  0

### Exercise 3

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

---------------------

In [94]:
baseball[baseball['team'].isin(['LAN', 'SFN'])]

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89365,sweenma01,2007,2,LAN,NL,30,33,2,9,1,...,3.0,0.0,0.0,1,11.0,0.0,0.0,0.0,0.0,0.0
89366,sweenma01,2007,1,SFN,NL,76,90,18,23,8,...,10.0,2.0,0.0,13,18.0,0.0,3.0,1.0,0.0,0.0
89382,seaneru01,2007,1,LAN,NL,68,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89383,schmija01,2007,1,LAN,NL,6,7,1,1,0,...,1.0,0.0,0.0,0,4.0,0.0,0.0,1.0,0.0,0.0
89431,loaizes01,2007,1,LAN,NL,5,7,0,1,0,...,2.0,0.0,0.0,0,2.0,0.0,0.0,2.0,0.0,1.0
89438,kleskry01,2007,1,SFN,NL,116,362,51,94,27,...,44.0,5.0,1.0,46,68.0,2.0,1.0,1.0,1.0,14.0
89439,kentje01,2007,1,LAN,NL,136,494,78,149,36,...,79.0,1.0,3.0,57,61.0,4.0,5.0,0.0,6.0,17.0
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

15 records contains those values

----------------------

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. First, let's (artificially) construct two Series, consisting of home runs hit in years 2006 and 2007, respectively:

In [95]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]

In [96]:
hr2007

player
francju01     0
francju01     1
zaungr01     10
witasja01     0
williwo02     1
wickmbo01     0
wickmbo01     0
whitero02     4
whiteri01     0
wellsda01     0
wellsda01     0
weathda01     0
walketo04     0
wakefti01     0
vizquom01     4
villoro01     0
valenjo03     3
trachst01     0
trachst01     0
timlimi01     0
thomeji01    35
thomafr04    26
tavarju01     0
sweenma01     0
sweenma01     2
suppaje01     0
stinnke01     1
stantmi02     0
stairma01    21
sprinru01     0
             ..
guarded01     0
griffke02    30
greensh01    10
graffto01     9
gordoto01     0
gonzalu01    15
gomezch02     0
gomezch02     1
glavito02     0
floydcl01     9
finlest01     1
embreal01     0
edmonji01    12
easleda01    10
delgaca01    24
cormirh01     0
coninje01     0
coninje01     6
clemero02     0
claytro01     0
claytro01     1
cirilje01     0
cirilje01     2
bondsba01    28
biggicr01    10
benitar01     0
benitar01     0
ausmubr01     3
aloumo01     13
alomasa02     0
Name: hr, dtype: int64

Now, let's add them together, in hopes of getting 2-year home run totals:

In [97]:
hr_total = hr2006 + hr2007
hr_total

player
alomasa02     NaN
aloumo01      NaN
ausmubr01     NaN
benitar01     NaN
benitar01     NaN
biggicr01     NaN
bondsba01     NaN
cirilje01     NaN
cirilje01     NaN
claytro01     NaN
claytro01     NaN
clemero02     NaN
coninje01     NaN
coninje01     NaN
cormirh01     NaN
delgaca01     NaN
easleda01     NaN
edmonji01     NaN
embreal01     NaN
finlest01     7.0
floydcl01     NaN
francju01     NaN
francju01     NaN
glavito02     NaN
gomezch02     NaN
gomezch02     NaN
gonzalu01    30.0
gordoto01     NaN
graffto01     NaN
greensh01     NaN
             ...
sosasa01      NaN
sprinru01     NaN
stairma01     NaN
stantmi02     NaN
stinnke01     NaN
suppaje01     NaN
sweenma01     NaN
sweenma01     NaN
tavarju01     NaN
thomafr04     NaN
thomeji01     NaN
timlimi01     NaN
trachst01     NaN
trachst01     NaN
valenjo03     NaN
villoro01     NaN
vizquom01     NaN
wakefti01     NaN
walketo04     NaN
weathda01     NaN
wellsda01     NaN
wellsda01     NaN
whiteri01     NaN
whitero02     NaN
wickmbo01     NaN
wickmbo01     NaN
williwo02     NaN
witasja01     NaN
womacto01     NaN
zaungr01      NaN
Name: hr, dtype: float64

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [98]:
hr_total[hr_total.notnull()]

player
finlest01     7.0
gonzalu01    30.0
johnsra05     0.0
myersmi01     0.0
schilcu01     0.0
seleaa01      0.0
Name: hr, dtype: float64

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [99]:
hr2007.add(hr2006, fill_value=0)

player
alomasa02     0.0
aloumo01     13.0
ausmubr01     3.0
benitar01     0.0
benitar01     0.0
biggicr01    10.0
bondsba01    28.0
cirilje01     0.0
cirilje01     2.0
claytro01     0.0
claytro01     1.0
clemero02     0.0
coninje01     0.0
coninje01     6.0
cormirh01     0.0
delgaca01    24.0
easleda01    10.0
edmonji01    12.0
embreal01     0.0
finlest01     7.0
floydcl01     9.0
francju01     0.0
francju01     1.0
glavito02     0.0
gomezch02     0.0
gomezch02     1.0
gonzalu01    30.0
gordoto01     0.0
graffto01     9.0
greensh01    10.0
             ...
sosasa01     21.0
sprinru01     0.0
stairma01    21.0
stantmi02     0.0
stinnke01     1.0
suppaje01     0.0
sweenma01     0.0
sweenma01     2.0
tavarju01     0.0
thomafr04    26.0
thomeji01    35.0
timlimi01     0.0
trachst01     0.0
trachst01     0.0
valenjo03     3.0
villoro01     0.0
vizquom01     4.0
wakefti01     0.0
walketo04     0.0
weathda01     0.0
wellsda01     0.0
wellsda01     0.0
whiteri01     0.0
whitero02     4.0
wickmbo01     0.0
wickmbo01     0.0
williwo02     1.0
witasja01     0.0
womacto01     1.0
zaungr01     10.0
Name: hr, dtype: float64

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [100]:
baseball.hr - baseball.hr.max()

id
88641   -34
88643   -35
88645   -35
88649   -35
88650   -35
88652   -29
88653   -20
88662   -35
89177   -35
89178   -34
89330   -25
89333   -35
89334   -34
89335   -35
89336   -35
89337   -31
89338   -35
89339   -35
89340   -35
89341   -35
89343   -35
89345   -35
89347   -31
89348   -35
89352   -32
89354   -35
89355   -35
89359   -35
89360     0
89361    -9
         ..
89460   -35
89462    -5
89463   -25
89464   -26
89465   -35
89466   -20
89467   -35
89468   -34
89469   -35
89473   -26
89474   -34
89480   -35
89481   -23
89482   -25
89489   -11
89493   -35
89494   -35
89495   -29
89497   -35
89498   -35
89499   -34
89501   -35
89502   -33
89521    -7
89523   -25
89525   -35
89526   -35
89530   -32
89533   -22
89534   -35
Name: hr, dtype: int64

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [101]:
baseball.loc[89521, "player"]

'bondsba01'

In [102]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.loc[88641]
diff[:10]

         h  X2b  X3b  hr
id
88641    0    0    0   0
88643  -13   -1    0  -1
88645  -14   -1    0  -1
88649  -14   -1    0  -1
88650  -13   -1    0  -1
88652   91   20   12   5
88653  145   51    2  14
88662   -9    0    0  -1
89177   -4    2    0  -1
89178   -4   -1    0   0

We can also apply functions to each column or row of a `DataFrame`

In [103]:
stats.apply(np.median)

h      8.0
X2b    1.0
X3b    0.0
hr     0.0
dtype: float64

In [104]:
def range_calc(x):
    return x.max() - x.min()

In [105]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

h      159
X2b     52
X3b     12
hr      35
dtype: int64

Lets use apply to calculate a meaningful baseball statistics, [slugging percentage](https://en.wikipedia.org/wiki/Slugging_percentage):

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [106]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

id
88641    0.360
88643    0.500
88645    0.000
88649    0.000
88650    0.167
88652    0.394
88653    0.444
88662    0.231
89177    0.325
89178    0.260
89330    0.411
89333    0.000
89334    0.153
89335    0.000
89336    0.000
89337    0.321
89338    0.000
89339    0.333
89340    0.105
89341    0.000
89343    0.292
89345    0.000
89347    0.316
89348    0.000
89352    0.373
89354    0.143
89355    0.000
89359    0.000
89360    0.562
89361    0.480
         ...
89460    0.000
89462    0.496
89463    0.430
89464    0.390
89465    0.000
89466    0.433
89467    0.321
89468    0.391
89469    0.232
89473    0.422
89474    0.245
89480    0.000
89481    0.403
89482    0.466
89489    0.448
89493    0.000
89494    0.244
89495    0.409
89497    0.500
89498    0.000
89499    0.344
89501    0.300
89502    0.386
89521    0.565
89523    0.381
89525    0.000
89526    0.000
89530    0.324
89533    0.524
89534    0.182
dtype: float64

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [107]:
baseball_newind.sort_index().head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
alomasa02NYN2007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
aloumo01NYN2007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
ausmubr01HOU2007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
benitar01FLO2007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar01SFN2007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
baseball_newind.sort_index(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
zaungr01TOR2007,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,5,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
witasja01TBA2007,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
williwo02HOU2007,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
wickmbo01ATL2007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

Try sorting the **columns** instead of the rows, in ascending order:

In [109]:
baseball_newind.sort_index(axis=1).head()

,X2b,X3b,ab,bb,cs,g,gidp,h,hbp,hr,...,player,r,rbi,sb,sf,sh,so,stint,team,year
womacto01CHN2006,1,0,50,4,1.0,19,0.0,5,0.0,1,...,womacto01,6,2.0,1.0,0.0,3.0,4.0,2,CHN,2006
schilcu01BOS2006,0,0,2,0,0.0,31,0.0,5,0.0,0,...,schilcu01,0,0.0,0.0,0.0,0.0,1.0,1,BOS,2006
myersmi01NYA2006,0,0,0,0,0.0,62,0.0,5,0.0,0,...,myersmi01,0,0.0,0.0,0.0,0.0,0.0,1,NYA,2006
helliri01MIL2006,0,0,3,0,0.0,20,0.0,5,0.0,0,...,helliri01,0,0.0,0.0,0.0,0.0,2.0,1,MIL,2006
johnsra05NYA2006,0,0,6,0,0.0,33,0.0,5,0.0,0,...,johnsra05,0,0.0,0.0,0.0,0.0,4.0,1,NYA,2006

We can also use `sort_values` to sort a `Series` by value, rather than by label.

In [110]:
baseball.hr.sort_values(ascending=False)

id
89360    35
89462    30
89521    28
89361    26
89378    25
89489    24
89371    21
89374    21
89396    20
89439    20
88653    15
89466    15
89533    13
89481    12
89389    11
89523    10
89330    10
89463    10
89482    10
89464     9
89473     9
89398     8
89430     7
88652     6
89495     6
89438     6
89347     4
89337     4
89352     3
89530     3
         ..
89429     0
89425     0
89451     0
89421     0
89420     0
89412     0
89411     0
89410     0
89406     0
89402     0
89431     0
89442     0
89445     0
89450     0
89388     0
89384     0
89363     0
89452     0
89382     0
89381     0
89460     0
89375     0
89465     0
89372     0
89467     0
89370     0
89367     0
89469     0
89365     0
89534     0
Name: hr, dtype: int64

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_values`:

In [111]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True], 
                                           by=['sb', 'cs']).head(10)

          player    sb   cs
id
89378  sheffga01  22.0  5.0
89430  loftoke01  21.0  4.0
89347  vizquom01  14.0  6.0
89463  greensh01  11.0  1.0
88652  finlest01   7.0  0.0
89462  griffke02   6.0  1.0
89530  ausmubr01   6.0  1.0
89466  gonzalu01   6.0  2.0
89521  bondsba01   5.0  0.0
89438  kleskry01   5.0  1.0

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [112]:
baseball.hr.rank()

id
88641     62.5
88643     29.0
88645     29.0
88649     29.0
88650     29.0
88652     76.0
88653     89.5
88662     29.0
89177     29.0
89178     62.5
89330     83.5
89333     29.0
89334     62.5
89335     29.0
89336     29.0
89337     73.5
89338     29.0
89339     29.0
89340     29.0
89341     29.0
89343     29.0
89345     29.0
89347     73.5
89348     29.0
89352     71.5
89354     29.0
89355     29.0
89359     29.0
89360    100.0
89361     97.0
         ...
89460     29.0
89462     99.0
89463     83.5
89464     80.5
89465     29.0
89466     89.5
89467     29.0
89468     62.5
89469     29.0
89473     80.5
89474     62.5
89480     29.0
89481     87.0
89482     83.5
89489     95.0
89493     29.0
89494     29.0
89495     76.0
89497     29.0
89498     29.0
89499     62.5
89501     29.0
89502     69.0
89521     98.0
89523     83.5
89525     29.0
89526     29.0
89530     71.5
89533     88.0
89534     29.0
Name: hr, dtype: float64

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [113]:
pd.Series([100,100]).rank()

0    1.5
1    1.5
dtype: float64

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [114]:
baseball.hr.rank(method='first')

id
88641     58.0
88643      1.0
88645      2.0
88649      3.0
88650      4.0
88652     75.0
88653     89.0
88662      5.0
89177      6.0
89178     59.0
89330     82.0
89333      7.0
89334     60.0
89335      8.0
89336      9.0
89337     73.0
89338     10.0
89339     11.0
89340     12.0
89341     13.0
89343     14.0
89345     15.0
89347     74.0
89348     16.0
89352     71.0
89354     17.0
89355     18.0
89359     19.0
89360    100.0
89361     97.0
         ...
89460     45.0
89462     99.0
89463     83.0
89464     80.0
89465     46.0
89466     90.0
89467     47.0
89468     65.0
89469     48.0
89473     81.0
89474     66.0
89480     49.0
89481     87.0
89482     84.0
89489     95.0
89493     50.0
89494     51.0
89495     77.0
89497     52.0
89498     53.0
89499     67.0
89501     54.0
89502     70.0
89521     98.0
89523     85.0
89525     55.0
89526     56.0
89530     72.0
89533     88.0
89534     57.0
Name: hr, dtype: float64

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [115]:
baseball.rank(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,2.0,96.5,7.0,82.0,31.5,70.0,47.5,40.5,39.0,50.5,...,51.0,24.5,17.5,44.5,59.0,66.0,65.5,16.0,70.0,76.5
88643,37.5,96.5,57.0,88.0,81.5,55.5,73.0,81.0,63.5,78.0,...,78.5,63.5,62.5,79.0,73.0,66.0,65.5,67.5,70.0,76.5
88645,47.5,96.5,57.0,40.5,81.5,36.0,91.0,81.0,84.5,78.0,...,78.5,63.5,62.5,79.0,89.0,66.0,65.5,67.5,70.0,76.5
88649,66.0,96.5,57.0,47.0,31.5,67.5,69.0,81.0,84.5,78.0,...,78.5,63.5,62.5,79.0,67.0,66.0,65.5,67.5,70.0,76.5
88650,61.5,96.5,57.0,40.5,81.5,51.0,64.5,81.0,63.5,78.0,...,78.5,63.5,62.5,79.0,59.0,66.0,65.5,67.5,70.0,76.5

In [116]:
baseball[['r','h','hr']].rank(ascending=False).head()

          r     h    hr
id
88641  40.5  39.0  38.5
88643  81.0  63.5  72.0
88645  81.0  84.5  72.0
88649  81.0  84.5  72.0
88650  81.0  63.5  72.0

### Exercise 4

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

-----------------------
define the function and appy it.

In [133]:
def on_base_perc(pl):
    nominator = pl['h'] + pl['bb'] + pl['hbp'] #H+BB+HBP
    denom = pl['ab'] + pl['bb'] +pl['hbp'] +pl['sf']
    if(denom == 0) : # If the denom == 0 we can not compute nominator/denom, hence we retrun NaN
        return np.NaN
    return nominator / denom
baseball.apply(on_base_perc, axis=1).round(3)

id
88641    0.333
88643    0.500
88645      NaN
88649    0.000
88650    0.167
88652    0.320
88653    0.352
88662    0.222
89177    0.311
89178    0.328
89330    0.341
89333      NaN
89334    0.102
89335      NaN
89336      NaN
89337    0.235
89338    0.000
89339    0.267
89340    0.105
89341      NaN
89343    0.288
89345    0.000
89347    0.305
89348      NaN
89352    0.302
89354    0.143
89355    0.000
89359      NaN
89360    0.410
89361    0.377
         ...
89460      NaN
89462    0.372
89463    0.352
89464    0.315
89465      NaN
89466    0.359
89467    0.278
89468    0.339
89469    0.286
89473    0.373
89474    0.245
89480      NaN
89481    0.325
89482    0.358
89489    0.333
89493      NaN
89494    0.306
89495    0.320
89497    0.500
89498    0.000
89499    0.304
89501    0.273
89502    0.327
89521    0.480
89523    0.285
89525      NaN
89526      NaN
89530    0.318
89533    0.392
89534    0.136
dtype: float64

and again but ordered

In [134]:
baseball.apply(on_base_perc, axis=1).round(3).sort_values(ascending=False)

id
88643    0.500
89384    0.500
89497    0.500
89521    0.480
89385    0.412
89360    0.410
89363    0.400
89533    0.392
89396    0.388
89430    0.380
89378    0.378
89361    0.377
89439    0.375
89473    0.373
89462    0.372
89366    0.368
89371    0.368
89466    0.359
89482    0.358
88653    0.352
89463    0.352
89438    0.344
89429    0.344
89330    0.341
89468    0.339
89411    0.333
88641    0.333
89489    0.333
89178    0.328
89502    0.327
         ...
89382    0.000
89338    0.000
89355    0.000
89345    0.000
89370    0.000
89402    0.000
89498    0.000
89372    0.000
88649    0.000
89388    0.000
89410    0.000
88645      NaN
89333      NaN
89335      NaN
89336      NaN
89341      NaN
89348      NaN
89359      NaN
89406      NaN
89420      NaN
89442      NaN
89450      NaN
89451      NaN
89452      NaN
89460      NaN
89465      NaN
89480      NaN
89493      NaN
89525      NaN
89526      NaN
dtype: float64

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [135]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

                     stint  lg    g   ab   r    h  X2b  X3b  hr   rbi   sb  \
year team player
2006 CHN  womacto01      2  NL   19   50   6   14    1    0   1   2.0  1.0
     BOS  schilcu01      1  AL   31    2   0    1    0    0   0   0.0  0.0
     NYA  myersmi01      1  AL   62    0   0    0    0    0   0   0.0  0.0
     MIL  helliri01      1  NL   20    3   0    0    0    0   0   0.0  0.0
     NYA  johnsra05      1  AL   33    6   0    1    0    0   0   0.0  0.0
     SFN  finlest01      1  NL  139  426  66  105   21   12   6  40.0  7.0
     ARI  gonzalu01      1  NL  153  586  93  159   52    2  15  73.0  0.0
     LAN  seleaa01       1  NL   28   26   2    5    1    0   0   0.0  0.0
2007 ATL  francju01      2  NL   15   40   1   10    3    0   0   8.0  0.0
     NYN  francju01      1  NL   40   50   7   10    0    0   1   8.0  2.0

                      cs  bb    so   ibb  hbp   sh   sf  gidp
year team player
2006 CHN  womacto01  1.0   4   4.0   0.0  0.0  3.0  0.0   0.0
     BOS  schilcu01  0.0   0   1.0   0.0  0.0  0.0  0.0   0.0
     NYA  myersmi01  0.0   0   0.0   0.0  0.0  0.0  0.0   0.0
     MIL  helliri01  0.0   0   2.0   0.0  0.0  0.0  0.0   0.0
     NYA  johnsra05  0.0   0   4.0   0.0  0.0  0.0  0.0   0.0
     SFN  finlest01  0.0  46  55.0   2.0  2.0  3.0  4.0   6.0
     ARI  gonzalu01  1.0  69  58.0  10.0  7.0  0.0  6.0  14.0
     LAN  seleaa01   0.0   1   7.0   0.0  0.0  6.0  0.0   1.0
2007 ATL  francju01  0.0   4  10.0   1.0  0.0  0.0  1.0   1.0
     NYN  francju01  1.0  10  13.0   0.0  0.0  0.0  1.0   1.0

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.

In [136]:
baseball_h.index[:10]

MultiIndex(levels=[[2006, 2007], ['ARI', 'ATL', 'BAL', 'BOS', 'CHA', 'CHN', 'CIN', 'CLE', 'COL', 'DET', 'FLO', 'HOU', 'KCA', 'LAA', 'LAN', 'MIL', 'MIN', 'NYA', 'NYN', 'OAK', 'PHI', 'SDN', 'SFN', 'SLN', 'TBA', 'TEX', 'TOR'], ['alomasa02', 'aloumo01', 'ausmubr01', 'benitar01', 'biggicr01', 'bondsba01', 'cirilje01', 'claytro01', 'clemero02', 'coninje01', 'cormirh01', 'delgaca01', 'easleda01', 'edmonji01', 'embreal01', 'finlest01', 'floydcl01', 'francju01', 'glavito02', 'gomezch02', 'gonzalu01', 'gordoto01', 'graffto01', 'greensh01', 'griffke02', 'guarded01', 'helliri01', 'hernaro01', 'hoffmtr01', 'johnsra05', 'jonesto02', 'kentje01', 'kleskry01', 'loaizes01', 'loftoke01', 'mabryjo01', 'maddugr01', 'martipe02', 'mesajo01', 'moyerja01', 'mussimi01', 'myersmi01', 'oliveda02', 'parkch01', 'perezne01', 'piazzmi01', 'ramirma02', 'rodriiv01', 'rogerke01', 'sandere02', 'schilcu01', 'schmija01', 'seaneru01', 'seleaa01', 'sheffga01', 'smoltjo01', 'sosasa01', 'sprinru01', 'stairma01', 'stantmi02', 'stinnke01', 'suppaje01', 'sweenma01', 'tavarju01', 'thomafr04', 'thomeji01', 'timlimi01', 'trachst01', 'valenjo03', 'villoro01', 'vizquom01', 'wakefti01', 'walketo04', 'weathda01', 'wellsda01', 'whiteri01', 'whitero02', 'wickmbo01', 'williwo02', 'witasja01', 'womacto01', 'zaungr01']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1], [5, 3, 17, 15, 17, 22, 0, 14, 1, 18], [80, 50, 41, 26, 29, 15, 20, 53, 17, 17]],
           names=['year', 'team', 'player'])

In [137]:
baseball_h.index.is_unique

True

Try using this hierarchical index to retrieve Julio Franco (`francju01`), who played for the Atlanta Braves (`ATL`) in 2007:

In [138]:
baseball_h.loc[(2007, 'ATL', 'francju01')]

stint     2
lg       NL
g        15
ab       40
r         1
h        10
X2b       3
X3b       0
hr        0
rbi       8
sb        0
cs        0
bb        4
so       10
ibb       1
hbp       0
sh        0
sf        1
gidp      1
Name: (2007, ATL, francju01), dtype: object

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [139]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])

In [140]:
mb.head(10)

                    Group  Tissue  Stool
Taxon      Patient
Firmicutes 1            0     136   4182
           2            1    1174    703
           3            0     408   3946
           4            1     831   8605
           5            0     693     50
           6            1     718    717
           7            0     173     33
           8            1     228     80
           9            0     162   3196
           10           1     372     32

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [141]:
mb.loc['Proteobacteria']

         Group  Tissue  Stool
Patient
1            0    2469   1821
2            1     839    661
3            0    4414     18
4            1   12044     83
5            0    2310     12
6            1    3053    547
7            0     395   2174
8            1    2651    767
9            0    1195     76
10           1    6857    795
11           0     483    666
12           1    2950   3994
13           0    1541    816
14           1    1307     53

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [142]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

If you want to get fancy, both the row and column indices themselves can be given names:

In [143]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

With this, we can do all sorts of custom indexing:

In [144]:
frame.loc['a', 'Ohio']

color  Green  Red
key2
1          0    1
2          3    4

Try retrieving the value corresponding to `b2` in `Colorado`:

---------------------------
fetch b2 and then Colorado

In [145]:
frame.loc['b', 2]['Colorado']

color
Green    11
Name: (b, 2), dtype: int64

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [146]:
mb.swaplevel('Patient', 'Taxon').head()

                    Group  Tissue  Stool
Patient Taxon
1       Firmicutes      0     136   4182
2       Firmicutes      1    1174    703
3       Firmicutes      0     408   3946
4       Firmicutes      1     831   8605
5       Firmicutes      0     693     50

Data can also be sorted by any index level, using `sortlevel`:

In [147]:
mb.sortlevel('Patient', ascending=False).head()

                        Group  Tissue  Stool
Taxon          Patient
Proteobacteria 14           1    1307     53
Other          14           1     305     32
Firmicutes     14           1     281   2377
Bacteroidetes  14           1     102     33
Actinobacteria 14           1     310    204

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [148]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

0       NaN
1        -3
2      None
3    foobar
dtype: object

In [149]:
foo.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Missing values may be dropped or indexed out:

In [150]:
bacteria2

phylum
Firmicutes           NaN
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

In [151]:
bacteria2.dropna()

phylum
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

In [152]:
bacteria2.isnull()

phylum
Firmicutes         True
Proteobacteria    False
Actinobacteria    False
Bacteroidetes     False
dtype: bool

In [153]:
bacteria2[bacteria2.notnull()]

phylum
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

By default, `dropna` drops entire rows in which one or more values are missing.

In [154]:
data.dropna()

   patient          phylum  value  year  treatment month
0        1      Firmicutes    632  2013        0.0   Jan
1        1  Proteobacteria   1638  2013        0.0   Jan
2        1  Actinobacteria    569  2013        0.0   Jan
3        1   Bacteroidetes     14  2013        0.0   Jan
4        2      Firmicutes     21  2013        1.0   Jan
5        2  Proteobacteria      0  2013        1.0   Jan

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [155]:
data.dropna(how='all')

   patient          phylum  value  year  treatment month
0        1      Firmicutes    632  2013        0.0   Jan
1        1  Proteobacteria   1638  2013        0.0   Jan
2        1  Actinobacteria    569  2013        0.0   Jan
3        1   Bacteroidetes     14  2013        0.0   Jan
4        2      Firmicutes     21  2013        1.0   Jan
5        2  Proteobacteria      0  2013        1.0   Jan
6        2  Actinobacteria      5  2013        NaN   Jan
7        2   Bacteroidetes    555  2013        NaN   Jan

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [156]:
data.loc[7, 'year'] = np.nan
data

   patient          phylum  value    year  treatment month
0        1      Firmicutes    632  2013.0        0.0   Jan
1        1  Proteobacteria   1638  2013.0        0.0   Jan
2        1  Actinobacteria    569  2013.0        0.0   Jan
3        1   Bacteroidetes     14  2013.0        0.0   Jan
4        2      Firmicutes     21  2013.0        1.0   Jan
5        2  Proteobacteria      0  2013.0        1.0   Jan
6        2  Actinobacteria      5  2013.0        NaN   Jan
7        2   Bacteroidetes    555     NaN        NaN   Jan

In [157]:
data.dropna(thresh=5)

   patient          phylum  value    year  treatment month
0        1      Firmicutes    632  2013.0        0.0   Jan
1        1  Proteobacteria   1638  2013.0        0.0   Jan
2        1  Actinobacteria    569  2013.0        0.0   Jan
3        1   Bacteroidetes     14  2013.0        0.0   Jan
4        2      Firmicutes     21  2013.0        1.0   Jan
5        2  Proteobacteria      0  2013.0        1.0   Jan
6        2  Actinobacteria      5  2013.0        NaN   Jan

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

### Exercise 5

Try using the `axis` argument to drop columns with missing values:

-------------------

In [158]:
data.dropna(axis=1)

   patient          phylum  value month
0        1      Firmicutes    632   Jan
1        1  Proteobacteria   1638   Jan
2        1  Actinobacteria    569   Jan
3        1   Bacteroidetes     14   Jan
4        2      Firmicutes     21   Jan
5        2  Proteobacteria      0   Jan
6        2  Actinobacteria      5   Jan
7        2   Bacteroidetes    555   Jan

-------------------

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [159]:
bacteria2.fillna(0)

phylum
Firmicutes           0.0
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

In [160]:
data.fillna({'year': 2013, 'treatment':2})

   patient          phylum  value    year  treatment month
0        1      Firmicutes    632  2013.0        0.0   Jan
1        1  Proteobacteria   1638  2013.0        0.0   Jan
2        1  Actinobacteria    569  2013.0        0.0   Jan
3        1   Bacteroidetes     14  2013.0        0.0   Jan
4        2      Firmicutes     21  2013.0        1.0   Jan
5        2  Proteobacteria      0  2013.0        1.0   Jan
6        2  Actinobacteria      5  2013.0        2.0   Jan
7        2   Bacteroidetes    555  2013.0        2.0   Jan

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

We can alter values in-place using `inplace=True`.

In [161]:
data.year.fillna(2013, inplace=True)
data

   patient          phylum  value    year  treatment month
0        1      Firmicutes    632  2013.0        0.0   Jan
1        1  Proteobacteria   1638  2013.0        0.0   Jan
2        1  Actinobacteria    569  2013.0        0.0   Jan
3        1   Bacteroidetes     14  2013.0        0.0   Jan
4        2      Firmicutes     21  2013.0        1.0   Jan
5        2  Proteobacteria      0  2013.0        1.0   Jan
6        2  Actinobacteria      5  2013.0        NaN   Jan
7        2   Bacteroidetes    555  2013.0        NaN   Jan

Missing values can also be interpolated, using any one of a variety of methods:

In [162]:
bacteria2.fillna(method='bfill')

phylum
Firmicutes         632.0
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [163]:
baseball.sum()

player    womacto01schilcu01myersmi01helliri01johnsra05f...
year                                                 200692
stint                                                   113
team      CHNBOSNYAMILNYASFNARILANATLNYNTORTBAHOUARIATLM...
lg        NLALALNLALNLNLNLNLNLALALNLNLNLALNLNLNLNLALALNL...
g                                                      5238
ab                                                    13654
r                                                      1869
h                                                      3582
X2b                                                     739
X3b                                                      55
hr                                                      437
rbi                                                    1847
sb                                                      138
cs                                                       46
bb                                                     1549
so                                                     2408
ibb                                                     177
hbp                                                     112
sh                                                      138
sf                                                      120
gidp                                                    354
dtype: object

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [164]:
baseball.mean()

year     2006.92
stint       1.13
g          52.38
ab        136.54
r          18.69
h          35.82
X2b         7.39
X3b         0.55
hr          4.37
rbi        18.47
sb          1.38
cs          0.46
bb         15.49
so         24.08
ibb         1.77
hbp         1.12
sh          1.38
sf          1.20
gidp        3.54
dtype: float64

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [165]:
bacteria2

phylum
Firmicutes           NaN
Proteobacteria     632.0
Actinobacteria    1638.0
Bacteroidetes      569.0
dtype: float64

In [166]:
bacteria2.mean()

946.3333333333334

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [167]:
bacteria2.mean(skipna=False)

nan

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [168]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

id
88653    69
89439    57
89361    56
89462    55
89396    54
89489    54
89360    54
89371    50
89378    46
89374    46
89389    45
89523    44
89521    42
89463    41
89466    40
88652    39
89438    36
89330    35
89533    33
89481    29
89430    26
89398    26
89347    25
89530    22
89473    20
89495    18
89464    17
89482    16
89499    15
89352    15
         ..
89498     0
89411     0
89525     0
89526     0
88650     0
88649     0
88645     0
88643     0
89341     0
89345     0
89381     0
89493     0
89450     0
89451     0
89372     0
89452     0
89370     0
89460     0
89367     0
89465     0
89384     0
89363     0
89445     0
89388     0
89359     0
89355     0
89354     0
89480     0
89348     0
89420     0
dtype: int64

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [169]:
baseball.describe()

,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
count,100.00000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000
mean,2006.92000,1.130000,52.380000,136.540000,18.69000,35.820000,7.390000,0.550000,4.370000,18.47000,1.380000,0.460000,15.490000,24.080000,1.770000,1.12000,1.380000,1.200000,3.540000
std,0.27266,0.337998,48.031299,181.936853,27.77496,50.221807,11.117277,1.445124,7.975537,28.34793,3.694878,1.067613,25.812649,32.804496,5.042957,2.23055,2.919042,2.035046,5.201826
min,2006.00000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,2007.00000,1.000000,9.500000,2.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,2007.00000,1.000000,33.000000,40.500000,2.00000,8.000000,1.000000,0.000000,0.000000,2.00000,0.000000,0.000000,1.000000,7.000000,0.000000,0.00000,0.000000,0.000000,1.000000
75%,2007.00000,1.000000,83.250000,243.750000,33.25000,62.750000,11.750000,1.000000,6.000000,27.00000,1.000000,0.000000,19.250000,37.250000,1.250000,1.00000,1.000000,2.000000,6.000000
max,2007.00000,2.000000,155.000000,586.000000,107.00000,159.000000,52.000000,12.000000,35.000000,96.00000,22.000000,6.000000,132.000000,134.000000,43.000000,11.00000,14.000000,9.000000,21.000000

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [170]:
baseball.player.describe()

count           100
unique           82
top       johnsra05
freq              2
Name: player, dtype: object

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [171]:
baseball.hr.cov(baseball.X2b)

69.076464646464643

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [172]:
baseball.hr.corr(baseball.X2b)

0.77906151825397507

In [173]:
baseball.ab.corr(baseball.h)

0.99421740362723765

Try running `corr` on the entire `baseball` DataFrame to see what is returned:

----------------------------

In [174]:
baseball.corr()

,year,stint,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
year,1.000000,0.004384,-0.050874,-0.001360,-0.023315,0.001151,-0.052917,-0.246099,0.060199,0.042812,0.030480,0.058296,0.005626,0.069610,0.015868,-0.000664,-0.012184,-0.007282,0.052131
stint,0.004384,1.000000,-0.257552,-0.216333,-0.209781,-0.206878,-0.196423,-0.085821,-0.209124,-0.205688,-0.120837,-0.055425,-0.190301,-0.214121,-0.118580,-0.195074,-0.091527,-0.155662,-0.224173
g,-0.050874,-0.257552,1.000000,0.935910,0.910262,0.929292,0.885847,0.518663,0.802014,0.891563,0.492362,0.520923,0.828572,0.866499,0.514423,0.730161,0.079361,0.767543,0.863041
ab,-0.001360,-0.216333,0.935910,1.000000,0.965609,0.994217,0.952249,0.535986,0.843308,0.947911,0.533536,0.577192,0.850803,0.923926,0.506398,0.767210,0.094537,0.840361,0.926632
r,-0.023315,-0.209781,0.910262,0.965609,1.000000,0.970560,0.923508,0.500807,0.890060,0.941483,0.596343,0.576454,0.915010,0.879375,0.588882,0.806523,-0.001273,0.839592,0.894724
h,0.001151,-0.206878,0.929292,0.994217,0.970560,1.000000,0.957275,0.514245,0.855163,0.952320,0.530018,0.571629,0.853384,0.906966,0.513009,0.767449,0.045533,0.839737,0.935525
X2b,-0.052917,-0.196423,0.885847,0.952249,0.923508,0.957275,1.000000,0.493267,0.779062,0.901751,0.413655,0.477487,0.780012,0.862149,0.453301,0.738226,0.005659,0.819361,0.906860
X3b,-0.246099,-0.085821,0.518663,0.535986,0.500807,0.514245,0.493267,1.000000,0.210028,0.369890,0.450421,0.384312,0.350682,0.408800,0.090993,0.217474,0.187012,0.394987,0.411577
hr,0.060199,-0.209124,0.802014,0.843308,0.890060,0.855163,0.779062,0.210028,1.000000,0.948787,0.364346,0.345187,0.916774,0.865929,0.673691,0.767411,-0.145374,0.782038,0.798350
rbi,0.042812,-0.205688,0.891563,0.947911,0.941483,0.952320,0.901751,0.369890,0.948787,1.000000,0.394633,0.435011,0.893945,0.929410,0.582982,0.780899,-0.054670,0.855260,0.906908
sb,0.030480,-0.120837,0.492362,0.533536,0.596343,0.530018,0.413655,0.450421,0.364346,0.394633,1.000000,0.743921,0.491351,0.365841,0.209110,0.413570,0.171910,0.412947,0.431198
cs,0.058296,-0.055425,0.520923,0.577192,0.576454,0.571629,0.477487,0.384312,0.345187,0.435011,0.743921,1.000000,0.425352,0.426658,0.106152,0.337129,0.293397,0.422146,0.456820
bb,0.005626,-0.190301,0.828572,0.850803,0.915010,0.853384,0.780012,0.350682,0.916774,0.893945,0.491351,0.425352,1.000000,0.795751,0.792057,0.742118,-0.044992,0.760932,0.823631
so,0.069610,-0.214121,0.866499,0.923926,0.879375,0.906966,0.862149,0.408800,0.865929,0.929410,0.365841,0.426658,0.795751,1.000000,0.476613,0.742547,0.073624,0.782314,0.846629
ibb,0.015868,-0.118580,0.514423,0.506398,0.588882,0.513009,0.453301,0.090993,0.673691,0.582982,0.209110,0.106152,0.792057,0.476613,1.000000,0.431714,-0.075658,0.451377,0.572355
hbp,-0.000664,-0.195074,0.730161,0.767210,0.806523,0.767449,0.738226,0.217474,0.767411,0.780899,0.413570,0.337129,0.742118,0.742547,0.431714,1.000000,-0.104810,0.648882,0.700380
sh,-0.012184,-0.091527,0.079361,0.094537,-0.001273,0.045533,0.005659,0.187012,-0.145374,-0.054670,0.171910,0.293397,-0.044992,0.073624,-0.075658,-0.104810,1.000000,-0.002721,0.028924
sf,-0.007282,-0.155662,0.767543,0.840361,0.839592,0.839737,0.819361,0.394987,0.782038,0.855260,0.412947,0.422146,0.760932,0.782314,0.451377,0.648882,-0.002721,1.000000,0.785489
gidp,0.052131,-0.224173,0.863041,0.926632,0.894724,0.935525,0.906860,0.411577,0.798350,0.906908,0.431198,0.456820,0.823631,0.846629,0.572355,0.700380,0.028924,0.785489,1.000000

it returns the correlation matrix for all features

----------------------------

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [175]:
mb.head()

                    Group  Tissue  Stool
Taxon      Patient
Firmicutes 1            0     136   4182
           2            1    1174    703
           3            0     408   3946
           4            1     831   8605
           5            0     693     50

In [176]:
mb.sum(level='Taxon')

                Group  Tissue  Stool
Taxon
Actinobacteria      7    6167   1615
Bacteroidetes       7    8880   4276
Firmicutes          7    9634  30172
Other               7    2868    242
Proteobacteria      7   42508  12483

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [177]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [178]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [179]:
pd.read_pickle("baseball_pickle")

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

### Advanced Exercise: Compiling Ebola Data

The `Data/ebola` folder contains summarized reports of Ebola cases from three countries during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

From these data files, use pandas to import them and create a single data frame that includes the daily totals of new cases and deaths for each country.

#### we have:

In [1]:
import pandas as pd
import numpy as np
import glob # to find all files in folder
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
!ls Data/ebola

guinea_data  liberia_data  LICENSE  sl_data

In [3]:
!ls Data/ebola/guinea_data/

2014-08-04.csv	2014-09-02.csv	2014-09-11.csv	2014-09-21.csv	2014-09-30.csv
2014-08-26.csv	2014-09-04.csv	2014-09-14.csv	2014-09-22.csv	2014-10-01.csv
2014-08-27.csv	2014-09-07.csv	2014-09-16.csv	2014-09-23.csv
2014-08-30.csv	2014-09-08.csv	2014-09-17.csv	2014-09-24.csv
2014-08-31.csv	2014-09-09.csv	2014-09-19.csv	2014-09-26.csv

In [4]:
!ls Data/ebola/liberia_data/

2014-06-16.csv	2014-08-25.csv	     2014-09-30-v138.csv  2014-10-31-v169.csv
2014-06-17.csv	2014-08-28.csv	     2014-10-01-v139.csv  2014-11-02-v171.csv
2014-06-22.csv	2014-09-01.csv	     2014-10-03-v141.csv  2014-11-04-v173.csv
2014-06-24.csv	2014-09-02.csv	     2014-10-04-v142.csv  2014-11-08-v177.csv
2014-06-25.csv	2014-09-03.csv	     2014-10-05-v143.csv  2014-11-14-v183.csv
2014-06-28.csv	2014-09-04.csv	     2014-10-07-v145.csv  2014-11-15-v184.csv
2014-06-29.csv	2014-09-05.csv	     2014-10-08-v146.csv  2014-11-19-v188.csv
2014-07-01.csv	2014-09-06.csv	     2014-10-09-v147.csv  2014-11-20-v189.csv
2014-07-02.csv	2014-09-07.csv	     2014-10-10-v148.csv  2014-11-21-v190.csv
2014-07-03.csv	2014-09-08.csv	     2014-10-11-v149.csv  2014-11-23-v192.csv
2014-07-07.csv	2014-09-10.csv	     2014-10-12-v150.csv  2014-11-24-v193.csv
2014-07-08.csv	2014-09-11.csv	     2014-10-13-v151.csv  2014-11-26.csv
2014-07-10.csv	2014-09-12.csv	     2014-10-16-v154.csv  2014-11-27.csv
2014-07-13.csv	2014-09-13.csv	     2014-10-17-v155.csv  2014-11-28.csv
2014-07-17.csv	2014-09-14.csv	     2014-10-18-v156.csv  2014-11-29.csv
2014-07-20.csv	2014-09-15.csv	     2014-10-19-v157.csv  2014-11-30.csv
2014-07-24.csv	2014-09-16.csv	     2014-10-20-v158.csv  2014-12-01.csv
2014-07-26.csv	2014-09-17-v125.csv  2014-10-21-v159.csv  2014-12-02.csv
2014-08-02.csv	2014-09-20-v128.csv  2014-10-22-v160.csv  2014-12-03.csv
2014-08-04.csv	2014-09-21-v129.csv  2014-10-23-v161.csv  2014-12-04.csv
2014-08-12.csv	2014-09-23-v131.csv  2014-10-24-v162.csv  2014-12-05.csv
2014-08-15.csv	2014-09-25-v133.csv  2014-10-25-v163.csv  2014-12-06.csv
2014-08-17.csv	2014-09-26-v134.csv  2014-10-28-v166.csv  2014-12-07.csv
2014-08-18.csv	2014-09-27-v135.csv  2014-10-29-v167.csv  2014-12-08.csv
2014-08-20.csv	2014-09-28-v136.csv  2014-10-30-v168.csv  2014-12-09.csv

In [5]:
!ls Data/ebola/sl_data/

2014-08-12-v77.csv   2014-09-17-v113.csv  2014-10-24-v150.csv
2014-08-13-v78.csv   2014-09-18-v114.csv  2014-10-25-v151.csv
2014-08-14-v79.csv   2014-09-19-v115.csv  2014-10-26-v152.csv
2014-08-15-v80.csv   2014-09-20-v116.csv  2014-10-27-v153.csv
2014-08-16-v81.csv   2014-09-21-v117.csv  2014-10-28-v154.csv
2014-08-17-v82.csv   2014-09-22-v118.csv  2014-10-30-v156.csv
2014-08-18-v83.csv   2014-09-23-v119.csv  2014-10-31-v157.csv
2014-08-19-v84.csv   2014-09-24-v120.csv  2014-11-01-v158.csv
2014-08-20-v85.csv   2014-09-25-v121.csv  2014-11-02-v159.csv
2014-08-21-v86.csv   2014-09-26-v122.csv  2014-11-06-v163.csv
2014-08-22-v87.csv   2014-09-27-v123.csv  2014-11-07-v164.csv
2014-08-23-v88.csv   2014-09-28-v124.csv  2014-11-08-v165.csv
2014-08-24-v89.csv   2014-09-29-v125.csv  2014-11-10-v167.csv
2014-08-25-v90.csv   2014-09-30-v126.csv  2014-11-12-v169.csv
2014-08-26-v91.csv   2014-10-01-v127.csv  2014-11-13.csv
2014-08-27-v92.csv   2014-10-03-v129.csv  2014-11-14.csv
2014-08-28-v93.csv   2014-10-04-v130.csv  2014-11-15.csv
2014-08-29-v94.csv   2014-10-05-v131.csv  2014-11-16.csv
2014-08-30-v95.csv   2014-10-06-v132.csv  2014-11-17.csv
2014-08-31-v96.csv   2014-10-07-v133.csv  2014-11-18-v175.csv
2014-09-01-v97.csv   2014-10-08-v134.csv  2014-11-19-v176.csv
2014-09-02-v98.csv   2014-10-10-v136.csv  2014-11-20-v177.csv
2014-09-03-v99.csv   2014-10-11-v137.csv  2014-11-21-v178.csv
2014-09-05-v101.csv  2014-10-12-v138.csv  2014-11-22-v179.csv
2014-09-06-v102.csv  2014-10-13-v139.csv  2014-11-23-v180.csv
2014-09-07-v103.csv  2014-10-14-v140.csv  2014-11-24-v181.csv
2014-09-08-v104.csv  2014-10-16-v141.csv  2014-11-28.csv
2014-09-09-v105.csv  2014-10-16-v142.csv  2014-11-29.csv
2014-09-10-v106.csv  2014-10-17-v143.csv  2014-12-01.csv
2014-09-11-v107.csv  2014-10-18-v144.csv  2014-12-04.csv
2014-09-12-v108.csv  2014-10-19-v145.csv  2014-12-05.csv
2014-09-13-v109.csv  2014-10-20-v146.csv  2014-12-06.csv
2014-09-14-v110.csv  2014-10-21-v147.csv  2014-12-13.csv
2014-09-15-v111.csv  2014-10-22-v148.csv
2014-09-16-v112.csv  2014-10-23-v149.csv

In [6]:
# example file
pd.read_csv('Data/ebola/sl_data/2014-08-12-v77.csv')

,date,variable,Kailahun,Kenema,Kono,Kambia,Koinadugu,Bombali,Tonkolili,Port Loko,Pujehun,Bo,Moyamba,Bonthe,Western area urban,Western area rural,National
0,2014-08-12,population,465048,653013,325003.0,341690.0,335471.0,494139,434937,557978,335574,654142,278119,168729.0,1040888,263619,6348350
1,2014-08-12,new_noncase,0,3,0.0,0.0,0.0,0,0,1,0,0,0,0.0,0,0,4
2,2014-08-12,new_suspected,0,9,0.0,0.0,0.0,0,0,0,0,1,0,0.0,0,0,10
3,2014-08-12,new_probable,0,0,0.0,0.0,0.0,0,0,0,0,1,0,0.0,0,0,1
4,2014-08-12,new_confirmed,0,9,0.0,0.0,0.0,0,0,2,0,0,0,0.0,0,0,11
5,2014-08-12,cum_noncase,201,269,15.0,1.0,15.0,10,10,7,2,54,12,0.0,56,5,657
6,2014-08-12,cum_suspected,0,10,33.0,0.0,0.0,1,0,0,0,2,0,0.0,0,0,46
7,2014-08-12,cum_probable,32,0,1.0,0.0,0.0,1,0,1,0,1,0,0.0,1,0,37
8,2014-08-12,cum_confirmed,378,259,1.0,1.0,0.0,7,2,24,3,22,5,1.0,13,1,717
9,2014-08-12,death_suspected,2,1,0.0,0.0,0.0,0,0,1,0,0,0,0.0,1,0,5
10,2014-08-12,death_probable,32,0,0.0,0.0,0.0,0,0,1,0,0,0,0.0,1,0,34
11,2014-08-12,death_confirmed,151,104,0.0,0.0,0.0,1,0,1,0,2,3,0.0,2,0,264
12,2014-08-12,cfr,39.9,40.2,0.0,0.0,0.0,14.3,0,4.2,0,9.1,60,0.0,15.4,0,36.8
13,2014-08-12,etc_new_admission,16,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2014-08-12,etc_currently_admitted,53,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2014-08-12,etc_cum_admission,341,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2014-08-12,etc_new_deaths,5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014-08-12,etc_cum_deaths,104,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2014-08-12,etc_new_discharges,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2014-08-12,etc_cum_discharges,134,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-08-12,cum_contacts,NaN,"1,356",38.0,0.0,0.0,161,16,471,57,227,73,26.0,390,23,2838
21,2014-08-12,cum_completed_contacts,NaN,701,38.0,0.0,0.0,16,0,7,10,67,0,26.0,82,0,901
22,2014-08-12,contacts_followed,321,497,0.0,0.0,0.0,161,11,466,47,160,73,0.0,310,23,2255
23,2014-08-12,new_contacts,321,73,0.0,0.0,0.0,5,5,308,0,6,0,0.0,25,0,743
24,2014-08-12,contacts_healthy,305,427,0.0,0.0,0.0,141,11,443,47,157,73,0.0,103,23,1937
25,2014-08-12,contacts_ill,11,3,0.0,0.0,0.0,0,0,0,0,0,0,0.0,0,0,14
26,2014-08-12,contacts_not_seen,16,64,0.0,0.0,0.0,20,0,28,0,3,0,0.0,0,0,131
27,2014-08-12,new_completed_contacts,12,38,0.0,0.0,0.0,16,0,0,1,0,0,0.0,6,0,73
28,2014-08-12,percent_seen,98%,61%,NaN,NaN,NaN,97%,100%,95%,100%,98%,100%,NaN,101%,100%,87%

#### we want:
following schema: but with key=(day, country) and feaures are new cases and deaths

In [7]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

                    Group  Tissue  Stool
Taxon      Patient
Firmicutes 1            0     136   4182
           2            1    1174    703
           3            0     408   3946
           4            1     831   8605
           5            0     693     50

#### lets start:
##### reading data

In [8]:
files=glob.glob('Data/ebola/sl_data/*.csv')

In [9]:
sl_data_array=[]
for file in files:
    read = pd.read_csv(file)
    sl_data_array.append(read)

In [10]:
sl_data_array[0].append(sl_data_array[1], ignore_index=True)
sl_data = pd.concat(sl_data_array, ignore_index=True)
sl_data.head()

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Hastings-F/Town,Kailahun,Kambia,Kenema,Kenema (IFRC),...,Port Loko,Pujehun,Tonkolili,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban,date,variable
0,NaN,654142,NaN,494139,168729,NaN,465048,341690,653013,NaN,...,557978,335574,434937,NaN,NaN,NaN,263619,1040888,2014-08-12,population
1,NaN,0,NaN,0,0,NaN,0,0,3,NaN,...,1,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_noncase
2,NaN,1,NaN,0,0,NaN,0,0,9,NaN,...,0,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_suspected
3,NaN,1,NaN,0,0,NaN,0,0,0,NaN,...,0,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_probable
4,NaN,0,NaN,0,0,NaN,0,0,9,NaN,...,2,0,0,NaN,NaN,NaN,0,0,2014-08-12,new_confirmed

In [11]:
sl_data.columns

Index(['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'National',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'date', 'variable'],
      dtype='object')

In [12]:
sl_data['variable'].unique()

array(['population', 'new_noncase', 'new_suspected', 'new_probable',
       'new_confirmed', 'cum_noncase', 'cum_suspected', 'cum_probable',
       'cum_confirmed', 'death_suspected', 'death_probable',
       'death_confirmed', 'cfr', 'etc_new_admission',
       'etc_currently_admitted', 'etc_cum_admission', 'etc_new_deaths',
       'etc_cum_deaths', 'etc_new_discharges', 'etc_cum_discharges',
       'cum_contacts', 'cum_completed_contacts', 'contacts_followed',
       'new_contacts', 'contacts_healthy', 'contacts_ill',
       'contacts_not_seen', 'new_completed_contacts', 'percent_seen',
       'total_lab_samples', 'repeat_samples', 'new_samples',
       'new_positive', 'new_negative', 'pending', 'positive_corpse',
       'negative_corpse'], dtype=object)

In [13]:
# we only need the variables 'new_confirmed' and 'death_confirmed' for now.
sl_data_relevant = sl_data[sl_data['variable'].isin(['new_confirmed', 'death_confirmed'])]

In [14]:
# make the date the index
sl_data_relevant.set_index(['date', 'variable'])
sl_data_relevant.index.is_unique

True

##### cleaning data

In [15]:
len(sl_data_relevant.columns)

27

In [16]:
len(sl_data_relevant.values)

206

In [17]:
# how many NaNs are there
# columns
sl_data_relevant.isnull().sum().sort_values(ascending=False)

34 Military Hospital      206
Bo EMC                    206
Kenema (KGH)              206
Hastings-F/Town           206
Police training School    206
Police traning School     206
Kenema (IFRC)             206
Unnamed: 18               206
Western area combined     206
Western area              184
Western area rural         35
Western area urban         35
National                   15
Bo                         14
Kambia                     14
Bonthe                     14
Kailahun                   14
Bombali                    14
Moyamba                    14
Kenema                     14
Koinadugu                  14
Kono                       14
Port Loko                  14
Pujehun                    14
Tonkolili                  14
date                        0
variable                    0
dtype: int64

In [18]:
# rows
sl_data_relevant.isnull().sum(axis=1).sort_values(ascending=False)

3236    25
3229    25
2785    25
2792    25
1983    25
1976    25
3192    25
2718    24
2681    24
1345    24
1461    24
2755    24
2644    24
2607    24
1454    12
1693    11
1664    11
1686    11
1722    11
1715    11
1744    11
1751    11
1773    11
1780    11
1657    11
475     11
410     11
642     11
1635    11
1628    11
        ..
1309    10
1287    10
1280    10
1258    10
1251    10
1229    10
1222    10
1200    10
3014    10
2977    10
2570    10
2859    10
2600    10
2637    10
2674    10
2711    10
2748    10
2822    10
2970    10
2829    10
2866    10
2896    10
2903    10
2933    10
2940    10
1519    10
1512    10
4       10
1809     9
1802     9
dtype: int64

In [19]:
# rename the data
sl_data_clean = sl_data_relevant

In [20]:
#remove cols that have only NaN
sl_data_clean = sl_data_clean.dropna(axis=1, how='all')
len(sl_data_clean.columns)

18

In [21]:
#remove rows that have only NaN
sl_data_clean = sl_data_clean.dropna(axis=0, thresh=3)
len(sl_data_clean.values)

199

In [22]:
# count again
# columns
sl_data_clean.isnull().sum().sort_values(ascending=False)

Western area          177
Western area urban     28
Western area rural     28
National                8
Moyamba                 7
Koinadugu               7
Bombali                 7
Bonthe                  7
Kailahun                7
Kambia                  7
Kenema                  7
Bo                      7
Kono                    7
Port Loko               7
Pujehun                 7
Tonkolili               7
date                    0
variable                0
dtype: int64

In [23]:
# rows
sl_data_clean.isnull().sum(axis=1).sort_values(ascending=False)

2718    15
2644    15
2755    15
2607    15
1345    15
1461    15
2681    15
1454     3
1606     2
1628     2
1577     2
1599     2
1773     2
410      2
1635     2
417      2
1657     2
1664     2
468      2
475      2
1686     2
1693     2
1715     2
1722     2
1570     2
1541     2
1548     2
642      2
845      2
852      2
        ..
1367     1
1338     1
1316     1
1309     1
1287     1
1280     1
1258     1
2234     1
1867     1
1896     1
2079     1
2227     1
2197     1
2190     1
2160     1
2153     1
2123     1
2116     1
2086     1
2049     1
1918     1
2042     1
2020     1
2013     1
1954     1
1947     1
1925     1
4        1
1802     0
1809     0
dtype: int64

In [24]:
# there are still NaNs

In [25]:
# there is a 'national' feature. Maybe we can use it
sl_data_clean_nat = sl_data_clean[['date', 'variable', 'National']]

In [26]:
sl_data_clean_nat.set_index(['date', 'variable'])
sl_data_clean_nat.isnull().sum()

date        0
variable    0
National    8
dtype: int64

In [27]:
# there are 8 NaNs left, lets check the rows
sl_data_clean[sl_data_clean['National'].isnull()]

,Bo,Bombali,Bonthe,Kailahun,Kambia,Kenema,Koinadugu,Kono,Moyamba,National,Port Loko,Pujehun,Tonkolili,Western area,Western area rural,Western area urban,date,variable
410,0,0,0,0,0,2,0,0,0,NaN,0,0,0,NaN,0,4,2014-08-26,new_confirmed
417,15,2,0,180,0,157,0,0,4,NaN,2,0,1,NaN,0,2,2014-08-26,death_confirmed
468,4,0,0,4,0,3,0,0,0,NaN,0,0,0,NaN,1,3,2014-08-29,new_confirmed
475,15,6,1,180,0,168,0,0,4,NaN,2,1,2,NaN,2,2,2014-08-29,death_confirmed
642,0,0,0,6,0,1,0,0,0,NaN,11,0,0,NaN,3,2,2014-09-05,new_confirmed
649,16,6,1,181,0,190,0,2,6,NaN,3,1,2,NaN,2,3,2014-09-05,death_confirmed
845,1,9,0,0,0,1,0,0,0,NaN,10,0,1,NaN,1,8,2014-09-12,new_confirmed
852,16,6,1,186,1,217,0,2,6,NaN,16,1,2,NaN,2,3,2014-09-12,death_confirmed

###### plan:
- replace all NaNs with 0
- make my own 'national' column
- check if it is the same as the existing National col

In [28]:
# replace all with 0
sl_data_clean.fillna(value=0, inplace=True)

In [29]:
# first make all types objects
def change_to_numeric(data):
    col_list = list(data.columns)
    col_list.remove('date')
    col_list.remove('variable')
    data[col_list] = data[col_list].apply(pd.to_numeric)
    
change_to_numeric(sl_data_clean)
sl_data_clean.dtypes

Bo                    float64
Bombali               float64
Bonthe                float64
Kailahun              float64
Kambia                float64
Kenema                float64
Koinadugu             float64
Kono                  float64
Moyamba               float64
National              float64
Port Loko             float64
Pujehun               float64
Tonkolili             float64
Western area          float64
Western area rural    float64
Western area urban    float64
date                   object
variable               object
dtype: object

In [30]:
# set index
sl_data_clean.set_index(['date', 'variable'])

                              Bo  Bombali  Bonthe  Kailahun  Kambia  Kenema  \
date       variable
2014-08-12 new_confirmed     0.0      0.0     0.0       0.0     0.0     9.0
           death_confirmed   2.0      1.0     0.0     151.0     0.0   104.0
2014-08-13 new_confirmed     1.0      0.0     0.0      11.0     0.0     1.0
           death_confirmed   2.0      1.0     0.0     157.0     0.0   107.0
2014-08-14 new_confirmed     0.0      0.0     0.0       0.0     0.0     8.0
           death_confirmed   2.0      1.0     0.0     160.0     0.0   111.0
2014-08-15 new_confirmed     1.0      0.0     0.0       0.0     0.0     3.0
           death_confirmed   2.0      1.0     0.0     162.0     0.0   116.0
2014-08-16 new_confirmed     0.0      0.0     0.0      12.0     0.0     4.0
           death_confirmed   2.0      1.0     0.0     167.0     0.0   121.0
2014-08-17 new_confirmed     0.0      0.0     0.0       0.0     0.0     2.0
           death_confirmed   2.0      1.0     0.0     172.0     0.0   124.0
2014-08-18 new_confirmed     0.0      0.0     0.0       5.0     0.0     0.0
           death_confirmed   2.0      1.0     0.0     173.0     0.0   130.0
2014-08-19 new_confirmed     2.0      0.0     0.0       3.0     0.0     2.0
           death_confirmed   2.0      1.0     0.0     176.0     0.0   133.0
2014-08-20 new_confirmed     0.0      0.0     0.0       1.0     0.0     2.0
           death_confirmed   2.0      1.0     0.0     176.0     0.0   135.0
2014-08-21 new_confirmed     1.0      0.0     0.0       1.0     0.0     0.0
           death_confirmed   2.0      1.0     0.0     180.0     0.0   138.0
2014-08-22 new_confirmed     6.0      6.0     0.0       6.0     0.0    12.0
           death_confirmed   2.0      1.0     0.0     180.0     0.0   142.0
2014-08-23 new_confirmed     0.0      0.0     0.0      11.0     0.0     5.0
           death_confirmed   2.0      1.0     0.0     180.0     0.0   145.0
2014-08-24 new_confirmed     2.0      0.0     0.0      12.0     0.0    12.0
           death_confirmed   2.0      1.0     0.0     180.0     0.0   150.0
2014-08-25 new_confirmed     0.0      3.0     0.0       0.0     0.0     6.0
           death_confirmed  10.0      2.0     0.0     180.0     0.0   154.0
2014-08-26 new_confirmed     0.0      0.0     0.0       0.0     0.0     2.0
           death_confirmed  15.0      2.0     0.0     180.0     0.0   157.0
...                          ...      ...     ...       ...     ...     ...
2014-11-13 death_confirmed   0.0      0.0     0.0       0.0     0.0     0.0
2014-11-15 new_confirmed     8.0      4.0     1.0       0.0     0.0     0.0
           death_confirmed   0.0      0.0     0.0       0.0     0.0     0.0
2014-11-16 new_confirmed     2.0     12.0     0.0       1.0     1.0     0.0
           death_confirmed   0.0      0.0     0.0       0.0     0.0     0.0
2014-11-17 new_confirmed     3.0      2.0     0.0       0.0     0.0     0.0
           death_confirmed   0.0      0.0     0.0       0.0     0.0     0.0
2014-11-18 new_confirmed     1.0      2.0     0.0       0.0     0.0     0.0
           death_confirmed   0.0      0.0     0.0       0.0     0.0     0.0
2014-11-20 new_confirmed     2.0     18.0     0.0       0.0     1.0     0.0
           death_confirmed  68.0    175.0     2.0     228.0    18.0   261.0
2014-11-21 new_confirmed     6.0     14.0     0.0       2.0     1.0     0.0
           death_confirmed  68.0    180.0     2.0     228.0    18.0   261.0
2014-11-22 new_confirmed     1.0      4.0     0.0       0.0     0.0     0.0
           death_confirmed  68.0    183.0     2.0     228.0    18.0   261.0
2014-11-23 new_confirmed     0.0      0.0     0.0       0.0     2.0     0.0
           death_confirmed  69.0    185.0     2.0     228.0    18.0   261.0
2014-11-24 new_confirmed     8.0     10.0     0.0       0.0     6.0     0.0
           death_confirmed  70.0    187.0     2.0     228.0    21.0   261.0
2014-11-28 new_confirmed     4.0     11.0     0.0       0.0     0.0     0.0
           death_confirmed  76.0    194.0     2.0     228.0    22.0   261.0
2014-11-29 new_confirmed     2.0     77.0     0.0       1.0     1.0     0.0
           death_confirmed  77.0    195.0     2.0     228.0    23.0   261.0
2014-12-01 new_confirmed     3.0     10.0     0.0       0.0     1.0     0.0
           death_confirmed  78.0    200.0     2.0     228.0    24.0   261.0
2014-12-04 new_confirmed     1.0      0.0     0.0       0.0     1.0     0.0
           death_confirmed  81.0    209.0     3.0     228.0    26.0   261.0
2014-12-05 new_confirmed     1.0     11.0     0.0       0.0     4.0     0.0
           death_confirmed  82.0    214.0     3.0     228.0    26.0   261.0
2014-12-06 death_confirmed  83.0    223.0     3.0     228.0    26.0   261.0

                            Koinadugu  Kono  Moyamba  National  Port Loko  \
date       variable
2014-08-12 new_confirmed          0.0   0.0      0.0      11.0        2.0
           death_confirmed        0.0   0.0      3.0     264.0        1.0
2014-08-13 new_confirmed          0.0   0.0      0.0      15.0        0.0
           death_confirmed        0.0   0.0      3.0     273.0        1.0
2014-08-14 new_confirmed          0.0   0.0      1.0      13.0        2.0
           death_confirmed        0.0   0.0      3.0     280.0        1.0
2014-08-15 new_confirmed          0.0   0.0      0.0      10.0        2.0
           death_confirmed        0.0   0.0      3.0     287.0        1.0
2014-08-16 new_confirmed          0.0   0.0      0.0      18.0        0.0
           death_confirmed        0.0   0.0      3.0     297.0        1.0
2014-08-17 new_confirmed          0.0   0.0      0.0       2.0        0.0
           death_confirmed        0.0   0.0      3.0     305.0        1.0
2014-08-18 new_confirmed          0.0   0.0      0.0       5.0        0.0
           death_confirmed        0.0   0.0      3.0     312.0        1.0
2014-08-19 new_confirmed          0.0   0.0      0.0       9.0        0.0
           death_confirmed        0.0   0.0      4.0     320.0        1.0
2014-08-20 new_confirmed          0.0   0.0      0.0       4.0        1.0
           death_confirmed        0.0   0.0      4.0     322.0        1.0
2014-08-21 new_confirmed          0.0   0.0      0.0       9.0        0.0
           death_confirmed        0.0   0.0      4.0     329.0        1.0
2014-08-22 new_confirmed          0.0   0.0      1.0      56.0       13.0
           death_confirmed        0.0   0.0      4.0     333.0        1.0
2014-08-23 new_confirmed          0.0   0.0      0.0      23.0        7.0
           death_confirmed        0.0   0.0      4.0     336.0        1.0
2014-08-24 new_confirmed          0.0   0.0      0.0      31.0        0.0
           death_confirmed        0.0   0.0      4.0     341.0        1.0
2014-08-25 new_confirmed          0.0   0.0      0.0      20.0        3.0
           death_confirmed        0.0   0.0      4.0     355.0        2.0
2014-08-26 new_confirmed          0.0   0.0      0.0       0.0        0.0
           death_confirmed        0.0   0.0      4.0       0.0        2.0
...                               ...   ...      ...       ...        ...
2014-11-13 death_confirmed        0.0   0.0      0.0    1180.0        0.0
2014-11-15 new_confirmed          1.0   0.0      2.0      54.0       14.0
           death_confirmed        0.0   0.0      0.0    1206.0        0.0
2014-11-16 new_confirmed          0.0   0.0      3.0      89.0        9.0
           death_confirmed        0.0   0.0      0.0    1223.0        0.0
2014-11-17 new_confirmed          2.0   5.0      2.0      53.0       18.0
           death_confirmed        0.0   0.0      0.0    1223.0        0.0
2014-11-18 new_confirmed          1.0   0.0      2.0      43.0        0.0
           death_confirmed        0.0   0.0      0.0    1240.0        0.0
2014-11-20 new_confirmed          2.0  10.0      3.0      94.0       25.0
           death_confirmed       22.0  27.0     38.0    1282.0      118.0
2014-11-21 new_confirmed          0.0   0.0      1.0      51.0        5.0
           death_confirmed       22.0  27.0     38.0    1303.0      122.0
2014-11-22 new_confirmed          0.0   0.0      1.0      47.0        3.0
           death_confirmed       22.0  27.0     38.0    1333.0      124.0
2014-11-23 new_confirmed          0.0   1.0      1.0      39.0       13.0
           death_confirmed       23.0  29.0     39.0    1364.0      134.0
2014-11-24 new_confirmed          0.0   0.0      1.0      83.0       13.0
           death_confirmed       23.0  29.0     40.0    1397.0      141.0
2014-11-28 new_confirmed          2.0   0.0      0.0      84.0       14.0
           death_confirmed       26.0  29.0     40.0    1481.0     1645.0
2014-11-29 new_confirmed          0.0  15.0      0.0      64.0        0.0
           death_confirmed       26.0  31.0     40.0    1496.0      164.0
2014-12-01 new_confirmed          0.0   0.0      2.0      72.0       26.0
           death_confirmed       26.0  31.0     41.0    1549.0      174.0
2014-12-04 new_confirmed          0.0   0.0      1.0      37.0       20.0
           death_confirmed       27.0  39.0     42.0    1648.0      201.0
2014-12-05 new_confirmed          0.0   7.0      0.0      54.0       10.0
           death_confirmed       27.0  39.0     43.0    1669.0      205.0
2014-12-06 death_confirmed       27.0  41.0     44.0    1708.0      208.0

                            Pujehun  Tonkolili  Western area  \
date       variable
2014-08-12 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-13 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-14 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-15 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-16 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-17 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-18 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-08-19 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-20 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-21 new_confirmed        0.0        6.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-22 new_confirmed        1.0        2.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-23 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-24 new_confirmed        0.0        1.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-25 new_confirmed        2.0        2.0           0.0
           death_confirmed      0.0        1.0           0.0
2014-08-26 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        1.0           0.0
...                             ...        ...           ...
2014-11-13 death_confirmed      0.0        0.0           0.0
2014-11-15 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-11-16 new_confirmed        0.0        2.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-11-17 new_confirmed        0.0        0.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-11-18 new_confirmed        2.0       11.0           0.0
           death_confirmed      0.0        0.0           0.0
2014-11-20 new_confirmed        0.0        2.0           0.0
           death_confirmed     16.0       70.0           0.0
2014-11-21 new_confirmed        0.0        5.0           0.0
           death_confirmed     16.0       70.0           0.0
2014-11-22 new_confirmed        0.0        5.0           0.0
           death_confirmed     16.0       71.0           0.0
2014-11-23 new_confirmed        0.0        3.0           0.0
           death_confirmed     16.0       73.0           0.0
2014-11-24 new_confirmed        0.0        4.0           0.0
           death_confirmed     16.0       74.0           0.0
2014-11-28 new_confirmed        1.0        7.0           0.0
           death_confirmed     16.0       83.0           0.0
2014-11-29 new_confirmed        0.0        1.0           0.0
           death_confirmed     16.0       83.0           0.0
2014-12-01 new_confirmed        0.0        0.0           0.0
           death_confirmed     16.0       84.0           0.0
2014-12-04 new_confirmed        0.0        1.0           0.0
           death_confirmed     16.0       86.0           0.0
2014-12-05 new_confirmed        0.0        1.0           0.0
           death_confirmed     16.0       86.0           0.0
2014-12-06 death_confirmed     16.0       88.0           0.0

                            Western area rural  Western area urban
date       variable
2014-08-12 new_confirmed                   0.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-13 new_confirmed                   0.0                 2.0
           death_confirmed                 0.0                 2.0
2014-08-14 new_confirmed                   2.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-15 new_confirmed                   0.0                 4.0
           death_confirmed                 0.0                 2.0
2014-08-16 new_confirmed                   1.0                 1.0
           death_confirmed                 0.0                 2.0
2014-08-17 new_confirmed                   0.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-18 new_confirmed                   0.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-19 new_confirmed                   0.0                 2.0
           death_confirmed                 0.0                 2.0
2014-08-20 new_confirmed                   0.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-21 new_confirmed                   1.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-22 new_confirmed                   5.0                 4.0
           death_confirmed                 0.0                 2.0
2014-08-23 new_confirmed                   0.0                 0.0
           death_confirmed                 0.0                 2.0
2014-08-24 new_confirmed                   1.0                 3.0
           death_confirmed                 0.0                 2.0
2014-08-25 new_confirmed                   3.0                 1.0
           death_confirmed                 0.0                 2.0
2014-08-26 new_confirmed                   0.0                 4.0
           death_confirmed                 0.0                 2.0
...                                        ...                 ...
2014-11-13 death_confirmed                 0.0                 0.0
2014-11-15 new_confirmed                   8.0                16.0
           death_confirmed                 0.0                 0.0
2014-11-16 new_confirmed                  24.0                35.0
           death_confirmed                 0.0                 0.0
2014-11-17 new_confirmed                   6.0                15.0
           death_confirmed                 0.0                 0.0
2014-11-18 new_confirmed                   7.0                17.0
           death_confirmed                 0.0                 0.0
2014-11-20 new_confirmed                   6.0                25.0
           death_confirmed               106.0               133.0
2014-11-21 new_confirmed                   8.0                 9.0
           death_confirmed               112.0               139.0
2014-11-22 new_confirmed                   7.0                26.0
           death_confirmed               122.0               153.0
2014-11-23 new_confirmed                   8.0                11.0
           death_confirmed               125.0               162.0
2014-11-24 new_confirmed                  10.0                31.0
           death_confirmed               131.0               174.0
2014-11-28 new_confirmed                   3.0                42.0
           death_confirmed               147.0               193.0
2014-11-29 new_confirmed                  11.0                26.0
           death_confirmed               152.0               198.0
2014-12-01 new_confirmed                   6.0                24.0
           death_confirmed               166.0               218.0
2014-12-04 new_confirmed                   5.0                 8.0
           death_confirmed               179.0               250.0
2014-12-05 new_confirmed                   5.0                15.0
           death_confirmed               184.0               255.0
2014-12-06 death_confirmed               193.0               267.0

[199 rows x 16 columns]

In [31]:
#  create my own national col
col_list = list(sl_data_clean.columns)
col_list.remove('date')
col_list.remove('variable')
col_list.remove('National')
sl_data_clean['total'] = sl_data_clean[col_list].sum(axis=1)
sl_data_clean['total']

4         11.0
11       264.0
33        15.0
40       273.0
62        13.0
69       280.0
91        10.0
98       287.0
120       18.0
127      297.0
149        2.0
156      305.0
178        5.0
185      312.0
207        9.0
214      320.0
236        4.0
243      322.0
265        9.0
272      329.0
294       56.0
301      333.0
323       23.0
330      336.0
352       31.0
359      341.0
381       20.0
388      355.0
410        6.0
417      363.0
         ...
2607       0.0
2637      54.0
2644       0.0
2674      89.0
2681       0.0
2711      53.0
2718       0.0
2748      43.0
2755       0.0
2822      94.0
2829    1282.0
2859      51.0
2866    1303.0
2896      47.0
2903    1333.0
2933      39.0
2940    1364.0
2970      83.0
2977    1397.0
3007      84.0
3014    2962.0
3044     134.0
3051    1496.0
3081      72.0
3088    1549.0
3118      37.0
3125    1648.0
3155      54.0
3162    1669.0
3199    1708.0
Name: total, dtype: float64

In [32]:
# check my total with National
sl_data_clean['total'] - sl_data_clean['National']

4          0.0
11         0.0
33         0.0
40         0.0
62         0.0
69         0.0
91         0.0
98         0.0
120        0.0
127        0.0
149        0.0
156        0.0
178        0.0
185        0.0
207        0.0
214        0.0
236        0.0
243        0.0
265        0.0
272        0.0
294        0.0
301        0.0
323        0.0
330        0.0
352        0.0
359        0.0
381        0.0
388        0.0
410        6.0
417      363.0
         ...
2607   -1180.0
2637       0.0
2644   -1206.0
2674       0.0
2681   -1223.0
2711       0.0
2718   -1223.0
2748       0.0
2755   -1240.0
2822       0.0
2829       0.0
2859       0.0
2866       0.0
2896       0.0
2903       0.0
2933       0.0
2940       0.0
2970       0.0
2977       0.0
3007       0.0
3014    1481.0
3044      70.0
3051       0.0
3081       0.0
3088       0.0
3118       0.0
3125       0.0
3155       0.0
3162       0.0
3199       0.0
dtype: float64

In [33]:
sl_data_clean[['total', 'National']][sl_data_clean['total'] != sl_data_clean['National']]

       total  National
410      6.0       0.0
417    363.0       0.0
468     15.0       0.0
475    383.0       0.0
642     23.0       0.0
649    413.0       0.0
845     31.0       0.0
852    459.0       0.0
1345     0.0     550.0
1454    22.0      40.0
1461     0.0     703.0
1512    16.0       8.0
1519  1426.0     713.0
1722   946.0     947.0
1802   102.0      69.0
1809  1136.0     986.0
2607     0.0    1180.0
2644     0.0    1206.0
2681     0.0    1223.0
2718     0.0    1223.0
2755     0.0    1240.0
3014  2962.0    1481.0
3044   134.0      64.0

In [34]:
# there are several not equal rows. where the National is 0 i can take the total:
sl_data_clean[sl_data_clean['total'] != sl_data_clean['National']][sl_data_clean['National'] > 0]

/home/lukas/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,Bo,Bombali,Bonthe,Kailahun,Kambia,Kenema,Koinadugu,Kono,Moyamba,National,Port Loko,Pujehun,Tonkolili,Western area,Western area rural,Western area urban,date,variable,total
1345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,550.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-09-30,death_confirmed,0.0
1454,5.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,40.0,2.0,0.0,0.0,0.0,0.0,0.0,2014-10-06,new_confirmed,22.0
1461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,703.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-10-06,death_confirmed,0.0
1512,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,8.0,0.0,0.0,0.0,0.0,8.0,2.0,2014-10-08,new_confirmed,16.0
1519,49.0,92.0,1.0,218.0,1.0,237.0,0.0,18.0,27.0,713.0,18.0,9.0,29.0,0.0,713.0,14.0,2014-10-08,death_confirmed,1426.0
1722,56.0,124.0,1.0,219.0,9.0,240.0,0.0,18.0,29.0,947.0,61.0,12.0,37.0,140.0,0.0,0.0,2014-10-16,death_confirmed,946.0
1802,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,69.0,9.0,0.0,4.0,33.0,19.0,30.0,2014-10-19,new_confirmed,102.0
1809,58.0,129.0,1.0,220.0,9.0,246.0,0.0,18.0,32.0,986.0,69.0,12.0,40.0,150.0,75.0,77.0,2014-10-19,death_confirmed,1136.0
2607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1180.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-11-13,death_confirmed,0.0
2644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1206.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-11-15,death_confirmed,0.0
2681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1223.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-11-16,death_confirmed,0.0
2718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1223.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-11-17,death_confirmed,0.0
2755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1240.0,0.0,0.0,0.0,0.0,0.0,0.0,2014-11-18,death_confirmed,0.0
3014,76.0,194.0,2.0,228.0,22.0,261.0,26.0,29.0,40.0,1481.0,1645.0,16.0,83.0,0.0,147.0,193.0,2014-11-28,death_confirmed,2962.0
3044,2.0,77.0,0.0,1.0,1.0,0.0,0.0,15.0,0.0,64.0,0.0,0.0,1.0,0.0,11.0,26.0,2014-11-29,new_confirmed,134.0

In [35]:
# in fact I take always the 'total'. National is sometimes just wrong (eg 'Bo' has 77 but National only 64) 
# -> i dont trust the National
sl_data_final = sl_data_clean[['date', 'variable', 'total']]
sl_data_final.set_index(['date', 'variable'])

                             total
date       variable
2014-08-12 new_confirmed      11.0
           death_confirmed   264.0
2014-08-13 new_confirmed      15.0
           death_confirmed   273.0
2014-08-14 new_confirmed      13.0
           death_confirmed   280.0
2014-08-15 new_confirmed      10.0
           death_confirmed   287.0
2014-08-16 new_confirmed      18.0
           death_confirmed   297.0
2014-08-17 new_confirmed       2.0
           death_confirmed   305.0
2014-08-18 new_confirmed       5.0
           death_confirmed   312.0
2014-08-19 new_confirmed       9.0
           death_confirmed   320.0
2014-08-20 new_confirmed       4.0
           death_confirmed   322.0
2014-08-21 new_confirmed       9.0
           death_confirmed   329.0
2014-08-22 new_confirmed      56.0
           death_confirmed   333.0
2014-08-23 new_confirmed      23.0
           death_confirmed   336.0
2014-08-24 new_confirmed      31.0
           death_confirmed   341.0
2014-08-25 new_confirmed      20.0
           death_confirmed   355.0
2014-08-26 new_confirmed       6.0
           death_confirmed   363.0
...                            ...
2014-11-13 death_confirmed     0.0
2014-11-15 new_confirmed      54.0
           death_confirmed     0.0
2014-11-16 new_confirmed      89.0
           death_confirmed     0.0
2014-11-17 new_confirmed      53.0
           death_confirmed     0.0
2014-11-18 new_confirmed      43.0
           death_confirmed     0.0
2014-11-20 new_confirmed      94.0
           death_confirmed  1282.0
2014-11-21 new_confirmed      51.0
           death_confirmed  1303.0
2014-11-22 new_confirmed      47.0
           death_confirmed  1333.0
2014-11-23 new_confirmed      39.0
           death_confirmed  1364.0
2014-11-24 new_confirmed      83.0
           death_confirmed  1397.0
2014-11-28 new_confirmed      84.0
           death_confirmed  2962.0
2014-11-29 new_confirmed     134.0
           death_confirmed  1496.0
2014-12-01 new_confirmed      72.0
           death_confirmed  1549.0
2014-12-04 new_confirmed      37.0
           death_confirmed  1648.0
2014-12-05 new_confirmed      54.0
           death_confirmed  1669.0
2014-12-06 death_confirmed  1708.0

[199 rows x 1 columns]

#### Do the same for the other two countries

In [36]:
# load
files=glob.glob('Data/ebola/guinea_data/*.csv')

#
guinea_data_array=[]
for file in files:
    read = pd.read_csv(file)
    guinea_data_array.append(read)

#
guinea_data_array[0].append(guinea_data_array[1], ignore_index=True)
guinea = pd.concat(guinea_data_array, ignore_index=True)
guinea.head()

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,NaN,0,NaN,2014-08-04,New cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,NaN,0,NaN,2014-08-04,New cases of probables,0,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN
2,NaN,0,1,NaN,0,NaN,2014-08-04,New cases of confirmed,0,0,...,0,NaN,0,NaN,0,0,0,0,4,NaN
3,NaN,0,6,NaN,0,NaN,2014-08-04,Total new cases registered so far,0,0,...,0,NaN,0,NaN,0,0,0,0,9,NaN
4,NaN,0,9,NaN,0,NaN,2014-08-04,Total cases of suspects,0,0,...,0,NaN,0,NaN,0,0,0,0,11,NaN

In [37]:
#
guinea.columns

Index(['Beyla', 'Boffa', 'Conakry', 'Coyah', 'Dabola', 'Dalaba', 'Date',
       'Description', 'Dinguiraye', 'Dubreka', 'Forecariah', 'Gueckedou',
       'Kerouane', 'Kindia', 'Kissidougou', 'Kouroussa', 'Lola', 'Macenta',
       'Mzerekore', 'Nzerekore', 'Pita', 'Siguiri', 'Telimele', 'Totals',
       'Yomou'],
      dtype='object')

In [38]:
#
guinea['Description'].unique()

array(['New cases of suspects', 'New cases of probables',
       'New cases of confirmed', 'Total new cases registered so far',
       'Total cases of suspects', 'Total cases of probables',
       'Total cases of confirmed',
       'Cumulative (confirmed + probable + suspects)',
       'New deaths registered today',
       'New deaths registered today (confirmed)',
       'New deaths registered today (probables)',
       'New deaths registered today (suspects)',
       'Total deaths of suspects', 'Total deaths of probables',
       'Total deaths of confirmed',
       'Total deaths (confirmed + probables + suspects)',
       'Total PEC center today', 'Total PEC center today (confirmed)',
       'Total PEC center today (probables)',
       'Total PEC center today (suspects)',
       'Total of deaths in confirmed cases in CTE',
       'Total of cured in confirmed cases in CTE',
       'Number of male confirmed cases',
       'Number of female confirmed cases',
       'Number of male probables cases',
       'Number of female probables cases', 'Number of male suspects cases',
       'Number of female suspects cases', 'Total number of male cases',
       'Total number of female cases',
       'Number of confirmed cases among health workers',
       'Number of deaths of confirmed cases among health workers',
       'Number of probables cases among health workers',
       'Number of deaths of probables cases among health workers',
       'Number of suspects cases among health workers',
       'Number of death of confirmed cases among health workers',
       'Total contacts registered from start date',
       'Number of contacts to follow today',
       'Number of contacts out of track',
       'Number of contacts followed yesterday',
       'Number of patients tested', 'Number of samples collected',
       'Total suspected non-class cases', 'New deaths registered',
       'Fatality rate for confirmed and probables',
       'New cases of confirmed among health workers',
       'Total case of confirmed among health workers',
       'New deaths registered among health workers',
       'Total deaths registered among health workers',
       'New admits to CTE so far',
       'Total number of hospitalized cases in CTE',
       'Total number of exits from CTE',
       'Total number of admissions to CTE',
       'New contacts registered so far',
       'Number of contacts followed today',
       'Number of contacts out of the track 21 days',
       'Number of contacts lost to follow up',
       'Number of samples collected today', 'Number of samples under test',
       'Total samples tested'], dtype=object)

In [39]:
interesting_vars = ['Total cases of confirmed','Total deaths (confirmed + probables + suspects)']
guinea_relevant = guinea[guinea['Description'].isin(interesting_vars)]

In [40]:
guinea_relevant.set_index(['Date', 'Description'])

                                                           Beyla Boffa  \
Date       Description
2014-08-04 Total cases of confirmed                          NaN    18
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-08-26 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    34
2014-08-27 Total cases of confirmed                          NaN   NaN
           Total deaths (confirmed + probables + suspects)   NaN   NaN
2014-08-30 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-08-31 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-02 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-04 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-07 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-08 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-09 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-11 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-14 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-16 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-17 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-19 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-21 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-22 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-23 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-24 Total cases of confirmed                          NaN    19
           Total deaths (confirmed + probables + suspects)   NaN    16
2014-09-26 Total cases of confirmed                            1    19
           Total deaths (confirmed + probables + suspects)     0    16
2014-09-30 Total cases of confirmed                            2    19
           Total deaths (confirmed + probables + suspects)     0    16
2014-10-01 Total cases of confirmed                            2    19
           Total deaths (confirmed + probables + suspects)     0    16

                                                           Conakry Coyah  \
Date       Description
2014-08-04 Total cases of confirmed                             78   NaN
           Total deaths (confirmed + probables + suspects)      42   NaN
2014-08-26 Total cases of confirmed                             98   NaN
           Total deaths (confirmed + probables + suspects)     243   NaN
2014-08-27 Total cases of confirmed                            102   NaN
           Total deaths (confirmed + probables + suspects)      49   NaN
2014-08-30 Total cases of confirmed                            109   NaN
           Total deaths (confirmed + probables + suspects)      55   NaN
2014-08-31 Total cases of confirmed                            110   NaN
           Total deaths (confirmed + probables + suspects)      55   NaN
2014-09-02 Total cases of confirmed                            110     3
           Total deaths (confirmed + probables + suspects)      56     0
2014-09-04 Total cases of confirmed                            111     4
           Total deaths (confirmed + probables + suspects)      57     0
2014-09-07 Total cases of confirmed                            113     5
           Total deaths (confirmed + probables + suspects)      57     2
2014-09-08 Total cases of confirmed                            113     5
           Total deaths (confirmed + probables + suspects)      57     2
2014-09-09 Total cases of confirmed                            113     5
           Total deaths (confirmed + probables + suspects)      57     2
2014-09-11 Total cases of confirmed                            117     6
           Total deaths (confirmed + probables + suspects)      57     2
2014-09-14 Total cases of confirmed                            120     7
           Total deaths (confirmed + probables + suspects)      59     4
2014-09-16 Total cases of confirmed                            129     7
           Total deaths (confirmed + probables + suspects)      61     4
2014-09-17 Total cases of confirmed                            129     7
           Total deaths (confirmed + probables + suspects)      61     4
2014-09-19 Total cases of confirmed                            131     7
           Total deaths (confirmed + probables + suspects)      68     5
2014-09-21 Total cases of confirmed                            133     7
           Total deaths (confirmed + probables + suspects)      68     5
2014-09-22 Total cases of confirmed                            136     9
           Total deaths (confirmed + probables + suspects)      68     5
2014-09-23 Total cases of confirmed                            139     9
           Total deaths (confirmed + probables + suspects)      71     5
2014-09-24 Total cases of confirmed                            149     9
           Total deaths (confirmed + probables + suspects)      72     5
2014-09-26 Total cases of confirmed                            160     9
           Total deaths (confirmed + probables + suspects)      73     5
2014-09-30 Total cases of confirmed                            166    12
           Total deaths (confirmed + probables + suspects)      76     5
2014-10-01 Total cases of confirmed                            170    12
           Total deaths (confirmed + probables + suspects)      78     5

                                                           Dabola Dalaba  \
Date       Description
2014-08-04 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-08-26 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      5    NaN
2014-08-27 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-08-30 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-08-31 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-02 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-04 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-07 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-08 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-09 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-11 Total cases of confirmed                             1    NaN
           Total deaths (confirmed + probables + suspects)      4    NaN
2014-09-14 Total cases of confirmed                             1      1
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-16 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-17 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-19 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-21 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-22 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-23 Total cases of confirmed                             1      2
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-24 Total cases of confirmed                             1      3
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-26 Total cases of confirmed                             1      5
           Total deaths (confirmed + probables + suspects)      4      0
2014-09-30 Total cases of confirmed                             1      6
           Total deaths (confirmed + probables + suspects)      4      0
2014-10-01 Total cases of confirmed                             1      6
           Total deaths (confirmed + probables + suspects)      4      0

                                                           Dinguiraye Dubreka  \
Date       Description
2014-08-04 Total cases of confirmed                                 0       0
           Total deaths (confirmed + probables + suspects)          1       0
2014-08-26 Total cases of confirmed                                 0       8
           Total deaths (confirmed + probables + suspects)          1       3
2014-08-27 Total cases of confirmed                                 0     NaN
           Total deaths (confirmed + probables + suspects)          1     NaN
2014-08-30 Total cases of confirmed                                 0      13
           Total deaths (confirmed + probables + suspects)          1       2
2014-08-31 Total cases of confirmed                                 0      18
           Total deaths (confirmed + probables + suspects)          1       3
2014-09-02 Total cases of confirmed                                 0      20
           Total deaths (confirmed + probables + suspects)          1       3
2014-09-04 Total cases of confirmed                                 0      20
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-07 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-08 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-09 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-11 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-14 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-16 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-17 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       4
2014-09-19 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-21 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-22 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-23 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-24 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-26 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-09-30 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7
2014-10-01 Total cases of confirmed                                 0      21
           Total deaths (confirmed + probables + suspects)          1       7

                                                           Forecariah  \
Date       Description
2014-08-04 Total cases of confirmed                               NaN
           Total deaths (confirmed + probables + suspects)        NaN
2014-08-26 Total cases of confirmed                               NaN
           Total deaths (confirmed + probables + suspects)        NaN
2014-08-27 Total cases of confirmed                               NaN
           Total deaths (confirmed + probables + suspects)        NaN
2014-08-30 Total cases of confirmed                                 5
           Total deaths (confirmed + probables + suspects)          3
2014-08-31 Total cases of confirmed                                 5
           Total deaths (confirmed + probables + suspects)          3
2014-09-02 Total cases of confirmed                                 5
           Total deaths (confirmed + probables + suspects)          3
2014-09-04 Total cases of confirmed                                 5
           Total deaths (confirmed + probables + suspects)          4
2014-09-07 Total cases of confirmed                                 6
           Total deaths (confirmed + probables + suspects)          4
2014-09-08 Total cases of confirmed                                 6
           Total deaths (confirmed + probables + suspects)          4
2014-09-09 Total cases of confirmed                                 6
           Total deaths (confirmed + probables + suspects)          4
2014-09-11 Total cases of confirmed                                 7
           Total deaths (confirmed + probables + suspects)          4
2014-09-14 Total cases of confirmed                                 8
           Total deaths (confirmed + probables + suspects)          5
2014-09-16 Total cases of confirmed                                 9
           Total deaths (confirmed + probables + suspects)          5
2014-09-17 Total cases of confirmed                                 9
           Total deaths (confirmed + probables + suspects)          5
2014-09-19 Total cases of confirmed                                 9
           Total deaths (confirmed + probables + suspects)          7
2014-09-21 Total cases of confirmed                                 9
           Total deaths (confirmed + probables + suspects)          7
2014-09-22 Total cases of confirmed                                 9
           Total deaths (confirmed + probables + suspects)          7
2014-09-23 Total cases of confirmed                                11
           Total deaths (confirmed + probables + suspects)          7
2014-09-24 Total cases of confirmed                                11
           Total deaths (confirmed + probables + suspects)          7
2014-09-26 Total cases of confirmed                                15
           Total deaths (confirmed + probables + suspects)          9
2014-09-30 Total cases of confirmed                                11
           Total deaths (confirmed + probables + suspects)          9
2014-10-01 Total cases of confirmed                                11
           Total deaths (confirmed + probables + suspects)          9

                                                           Gueckedou  ...   \
Date       Description                                                ...
2014-08-04 Total cases of confirmed                              188  ...
           Total deaths (confirmed + probables + suspects)       247  ...
2014-08-26 Total cases of confirmed                              207  ...
           Total deaths (confirmed + probables + suspects)       459  ...
2014-08-27 Total cases of confirmed                              207  ...
           Total deaths (confirmed + probables + suspects)       268  ...
2014-08-30 Total cases of confirmed                              211  ...
           Total deaths (confirmed + probables + suspects)       271  ...
2014-08-31 Total cases of confirmed                              214  ...
           Total deaths (confirmed + probables + suspects)       279  ...
2014-09-02 Total cases of confirmed                              219  ...
           Total deaths (confirmed + probables + suspects)       283  ...
2014-09-04 Total cases of confirmed                              223  ...
           Total deaths (confirmed + probables + suspects)       284  ...
2014-09-07 Total cases of confirmed                              230  ...
           Total deaths (confirmed + probables + suspects)       289  ...
2014-09-08 Total cases of confirmed                              230  ...
           Total deaths (confirmed + probables + suspects)       289  ...
2014-09-09 Total cases of confirmed                              230  ...
           Total deaths (confirmed + probables + suspects)       291  ...
2014-09-11 Total cases of confirmed                              232  ...
           Total deaths (confirmed + probables + suspects)       292  ...
2014-09-14 Total cases of confirmed                              235  ...
           Total deaths (confirmed + probables + suspects)       292  ...
2014-09-16 Total cases of confirmed                              235  ...
           Total deaths (confirmed + probables + suspects)       293  ...
2014-09-17 Total cases of confirmed                              235  ...
           Total deaths (confirmed + probables + suspects)       293  ...
2014-09-19 Total cases of confirmed                              236  ...
           Total deaths (confirmed + probables + suspects)       295  ...
2014-09-21 Total cases of confirmed                              237  ...
           Total deaths (confirmed + probables + suspects)       295  ...
2014-09-22 Total cases of confirmed                              239  ...
           Total deaths (confirmed + probables + suspects)       295  ...
2014-09-23 Total cases of confirmed                              241  ...
           Total deaths (confirmed + probables + suspects)       295  ...
2014-09-24 Total cases of confirmed                              243  ...
           Total deaths (confirmed + probables + suspects)       296  ...
2014-09-26 Total cases of confirmed                              244  ...
           Total deaths (confirmed + probables + suspects)       297  ...
2014-09-30 Total cases of confirmed                              245  ...
           Total deaths (confirmed + probables + suspects)       300  ...
2014-10-01 Total cases of confirmed                              248  ...
           Total deaths (confirmed + probables + suspects)       301  ...


In [41]:
# rename the data
guinea_clean = guinea_relevant

#remove cols that have only NaN
guinea_clean = guinea_clean.dropna(axis=1, how='all')

#remove rows that have only NaN
guinea_clean = guinea_clean.dropna(axis=0, thresh=3)

# replace all NaNs with 0
guinea_clean.fillna(value=0, inplace=True)

# then make all types objects
def change_to_numeric(data):
    col_list = list(data.columns)
    col_list.remove('Date')
    col_list.remove('Description')
    data[col_list] = data[col_list].apply(pd.to_numeric)
    
change_to_numeric(guinea_clean)


#  create my own total col
col_list = list(guinea_clean.columns)
col_list.remove('Date')
col_list.remove('Description')
col_list.remove('Totals')
guinea_clean['total'] = guinea_clean[col_list].sum(axis=1)
guinea_clean['total']

6      351.0
15     363.0
48     490.0
55     958.0
80     438.0
87     402.0
112    533.0
119    468.0
144    563.0
151    489.0
176    591.0
183    501.0
208    621.0
215    522.0
240    678.0
247    557.0
272    678.0
279    557.0
304    683.0
311    565.0
336    716.0
343    568.0
368    743.0
375    595.0
400    771.0
407    608.0
432    771.0
439    608.0
464    788.0
471    630.0
496    818.0
503    632.0
528    832.0
535    635.0
560    854.0
567    643.0
592    876.0
599    648.0
624    906.0
631    668.0
656    961.0
663    713.0
688    977.0
695    736.0
Name: total, dtype: float64

In [42]:
# check my total with National
guinea_clean['total'] - guinea_clean['Totals']

6       0.0
15      0.0
48      0.0
55      0.0
80    -61.0
87    -36.0
112     0.0
119     0.0
144     0.0
151     0.0
176     0.0
183     0.0
208     0.0
215     0.0
240     0.0
247     0.0
272     0.0
279     0.0
304     0.0
311     0.0
336     0.0
343     0.0
368     0.0
375     0.0
400     0.0
407     0.0
432     0.0
439     0.0
464     0.0
471     0.0
496     0.0
503     0.0
528     0.0
535     0.0
560     0.0
567     0.0
592     0.0
599     0.0
624     4.0
631     0.0
656     0.0
663    -1.0
688     0.0
695    -3.0
dtype: float64

In [43]:
# there are several not equal rows. Where the Totals is 0 i can take the total:
guinea_clean[guinea_clean['total'] != guinea_clean['Totals']][guinea_clean['Totals'] > 0]

/home/lukas/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou,total
80,0.0,0.0,102.0,0,1.0,0,2014-08-27,Total cases of confirmed,0.0,0.0,...,0,103.0,0,0.0,0.0,0.0,23.0,499,0,438.0
87,0.0,0.0,49.0,0,4.0,0,2014-08-27,Total deaths (confirmed + probables + suspects),1.0,0.0,...,0,64.0,0,0.0,0.0,0.0,10.0,438,0,402.0
624,1.0,19.0,160.0,9,1.0,5,2014-09-26,Total cases of confirmed,0.0,21.0,...,0,335.0,21,0.0,6.0,6.0,23.0,902,11,906.0
663,0.0,16.0,76.0,5,4.0,0,2014-09-30,Total deaths (confirmed + probables + suspects),1.0,7.0,...,0,229.0,29,0.0,3.0,3.0,10.0,714,5,713.0
695,0.0,16.0,78.0,5,4.0,0,2014-10-01,Total deaths (confirmed + probables + suspects),1.0,7.0,...,0,246.0,0,32.0,3.0,3.0,10.0,739,5,736.0

In [44]:
# They are never far off, to I can taky my total
guinea_final = guinea_clean[['Date', 'Description', 'total']]
guinea_final.set_index(['Date', 'Description'])

                                                            total
Date       Description
2014-08-04 Total cases of confirmed                         351.0
           Total deaths (confirmed + probables + suspects)  363.0
2014-08-26 Total cases of confirmed                         490.0
           Total deaths (confirmed + probables + suspects)  958.0
2014-08-27 Total cases of confirmed                         438.0
           Total deaths (confirmed + probables + suspects)  402.0
2014-08-30 Total cases of confirmed                         533.0
           Total deaths (confirmed + probables + suspects)  468.0
2014-08-31 Total cases of confirmed                         563.0
           Total deaths (confirmed + probables + suspects)  489.0
2014-09-02 Total cases of confirmed                         591.0
           Total deaths (confirmed + probables + suspects)  501.0
2014-09-04 Total cases of confirmed                         621.0
           Total deaths (confirmed + probables + suspects)  522.0
2014-09-07 Total cases of confirmed                         678.0
           Total deaths (confirmed + probables + suspects)  557.0
2014-09-08 Total cases of confirmed                         678.0
           Total deaths (confirmed + probables + suspects)  557.0
2014-09-09 Total cases of confirmed                         683.0
           Total deaths (confirmed + probables + suspects)  565.0
2014-09-11 Total cases of confirmed                         716.0
           Total deaths (confirmed + probables + suspects)  568.0
2014-09-14 Total cases of confirmed                         743.0
           Total deaths (confirmed + probables + suspects)  595.0
2014-09-16 Total cases of confirmed                         771.0
           Total deaths (confirmed + probables + suspects)  608.0
2014-09-17 Total cases of confirmed                         771.0
           Total deaths (confirmed + probables + suspects)  608.0
2014-09-19 Total cases of confirmed                         788.0
           Total deaths (confirmed + probables + suspects)  630.0
2014-09-21 Total cases of confirmed                         818.0
           Total deaths (confirmed + probables + suspects)  632.0
2014-09-22 Total cases of confirmed                         832.0
           Total deaths (confirmed + probables + suspects)  635.0
2014-09-23 Total cases of confirmed                         854.0
           Total deaths (confirmed + probables + suspects)  643.0
2014-09-24 Total cases of confirmed                         876.0
           Total deaths (confirmed + probables + suspects)  648.0
2014-09-26 Total cases of confirmed                         906.0
           Total deaths (confirmed + probables + suspects)  668.0
2014-09-30 Total cases of confirmed                         961.0
           Total deaths (confirmed + probables + suspects)  713.0
2014-10-01 Total cases of confirmed                         977.0
           Total deaths (confirmed + probables + suspects)  736.0

##### and for the last

In [45]:
# load
files=glob.glob('Data/ebola/liberia_data/*.csv')

#
liberia_data_array=[]
for file in files:
    read = pd.read_csv(file)
    liberia_data_array.append(read)

#
liberia_data_array[0].append(liberia_data_array[1], ignore_index=True)
liberia = pd.concat(liberia_data_array, ignore_index=True)
liberia.head()

#
liberia.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable'],
      dtype='object')

In [46]:
#
liberia['Variable'].unique()

array(['Specimens collected', 'Specimens pending for testing',
       'Total specimens tested', 'Newly reported deaths',
       'Total death/s in confirmed cases',
       'Total death/s in probable cases',
       'Total death/s in suspected cases',
       'Total death/s in confirmed, probable, suspected cases',
       'Case Fatality Rate (CFR) - Confirmed & Probable Cases',
       'Newly reported contacts', 'Total contacts listed',
       'Currently under follow-up', 'Contacts seen',
       'Contacts who completed 21 day follow-up',
       'Contacts lost to follow-up', 'New admissions',
       'Total no. currently in Treatment Units', 'Total discharges',
       'Cumulative admission/isolation', 'Newly Reported Cases in HCW',
       'Cumulative cases among HCW', 'Newly Reported deaths in HCW',
       'Cumulative deaths among HCW', 'New Case/s (Suspected)',
       'New Case/s (Probable)', 'New case/s (confirmed)',
       'Total suspected cases', 'Total probable cases',
       'Total confirmed cases',
       'Total Number of Confirmed Cases of Sierra Leonean Nationality',
       'Total Number of Confirmed Cases of Guinean Nationality',
       'Cumulative (confirmed + probable + suspected)',
       'Total Case/s (Suspected)', 'Total Case/s (Probable)',
       'Total case/s (confirmed)', 'Cumulative CFR',
       'Cumulative (confirmed + probable + suspects)',
       'Total death/s in confirmed,  probable, suspected cases',
       'Cumulative confirmed, probable and suspected cases',
       'Total death/s in confirmed, \n probable, suspected cases',
       'Case Fatality Rate (CFR) - \n Confirmed & Probable Cases',
       'Contacts who completed 21 day \n follow-up',
       'Total no. currently in Treatment \n Units',
       'Total Number of Confirmed Cases \n of Sierra Leonean Nationality',
       'Total Number of Confirmed Cases \n of Guinean Nationality'], dtype=object)

In [47]:
interesting_vars = ['Total death/s in confirmed, probable, suspected cases','New case/s (confirmed)']
liberia_relevant = liberia[liberia['Variable'].isin(interesting_vars)]

liberia_relevant.set_index(['Date', 'Variable'])

                                                               Bomi County  \
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/17/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/22/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/24/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/25/14    Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/28/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
6/29/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/1/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/2/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/3/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/7/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/8/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/10/2014  Total death/s in confirmed, probable, suspected...          1.0
           New case/s (confirmed)                                      0.0
7/13/2014  Total death/s in confirmed, probable, suspected...          1.0
           New case/s (confirmed)                                      0.0
7/17/2014  Total death/s in confirmed, probable, suspected...          2.0
           New case/s (confirmed)                                      0.0
...                                                                    ...
10/29/2014 Total death/s in confirmed, probable, suspected...         84.0
           New case/s (confirmed)                                      NaN
10/30/2014 Total death/s in confirmed, probable, suspected...         84.0
           New case/s (confirmed)                                      NaN
10/31/2014 New case/s (confirmed)                                      NaN
11/2/2014  Total death/s in confirmed, probable, suspected...         85.0
           New case/s (confirmed)                                      NaN
11/4/2014  New case/s (confirmed)                                      NaN
11/8/2014  New case/s (confirmed)                                      NaN
11/14/2014 New case/s (confirmed)                                      NaN
11/15/2014 New case/s (confirmed)                                      NaN
11/19/2014 New case/s (confirmed)                                      NaN
11/20/2014 New case/s (confirmed)                                      NaN
11/21/2014 New case/s (confirmed)                                      NaN
11/23/2014 New case/s (confirmed)                                      NaN
11/24/2014 New case/s (confirmed)                                      NaN
11/26/2014 New case/s (confirmed)                                      NaN
11/27/2014 New case/s (confirmed)                                      0.0
11/28/2014 New case/s (confirmed)                                      0.0
11/29/2014 New case/s (confirmed)                                      0.0
11/30/2014 New case/s (confirmed)                                      0.0
12/1/2014  New case/s (confirmed)                                      0.0
12/2/2014  New case/s (confirmed)                                      0.0
12/3/2014  New case/s (confirmed)                                      NaN
12/4/2014  New case/s (confirmed)                                    135.0
12/5/2014  New case/s (confirmed)                                    135.0
12/6/2014  New case/s (confirmed)                                    135.0
12/7/2014  New case/s (confirmed)                                    135.0
12/8/2014  New case/s (confirmed)                                    135.0
12/9/2014  New case/s (confirmed)                                    137.0

                                                               Bong County  \
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/17/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/22/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/24/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/25/14    Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/28/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
6/29/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/1/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/2/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/3/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/7/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/8/2014   Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/10/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/13/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
7/17/2014  Total death/s in confirmed, probable, suspected...          0.0
           New case/s (confirmed)                                      0.0
...                                                                    ...
10/29/2014 Total death/s in confirmed, probable, suspected...         77.0
           New case/s (confirmed)                                      NaN
10/30/2014 Total death/s in confirmed, probable, suspected...         76.0
           New case/s (confirmed)                                      NaN
10/31/2014 New case/s (confirmed)                                      NaN
11/2/2014  Total death/s in confirmed, probable, suspected...         77.0
           New case/s (confirmed)                                      NaN
11/4/2014  New case/s (confirmed)                                      NaN
11/8/2014  New case/s (confirmed)                                      NaN
11/14/2014 New case/s (confirmed)                                      NaN
11/15/2014 New case/s (confirmed)                                      NaN
11/19/2014 New case/s (confirmed)                                      NaN
11/20/2014 New case/s (confirmed)                                      NaN
11/21/2014 New case/s (confirmed)                                      NaN
11/23/2014 New case/s (confirmed)                                      NaN
11/24/2014 New case/s (confirmed)                                      NaN
11/26/2014 New case/s (confirmed)                                      NaN
11/27/2014 New case/s (confirmed)                                      0.0
11/28/2014 New case/s (confirmed)                                      0.0
11/29/2014 New case/s (confirmed)                                      0.0
11/30/2014 New case/s (confirmed)                                      0.0
12/1/2014  New case/s (confirmed)                                      0.0
12/2/2014  New case/s (confirmed)                                      0.0
12/3/2014  New case/s (confirmed)                                      NaN
12/4/2014  New case/s (confirmed)                                    135.0
12/5/2014  New case/s (confirmed)                                    135.0
12/6/2014  New case/s (confirmed)                                    135.0
12/7/2014  New case/s (confirmed)                                    135.0
12/8/2014  New case/s (confirmed)                                    135.0
12/9/2014  New case/s (confirmed)                                    135.0

                                                               Gbarpolu County  \
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/17/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/22/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/24/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/25/14    Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/28/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
6/29/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/1/2014   Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/2/2014   Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/3/2014   Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/7/2014   Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/8/2014   Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/10/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/13/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
7/17/2014  Total death/s in confirmed, probable, suspected...              NaN
           New case/s (confirmed)                                          NaN
...                                                                        ...
10/29/2014 Total death/s in confirmed, probable, suspected...              3.0
           New case/s (confirmed)                                          NaN
10/30/2014 Total death/s in confirmed, probable, suspected...              3.0
           New case/s (confirmed)                                          NaN
10/31/2014 New case/s (confirmed)                                          NaN
11/2/2014  Total death/s in confirmed, probable, suspected...              3.0
           New case/s (confirmed)                                          NaN
11/4/2014  New case/s (confirmed)                                          NaN
11/8/2014  New case/s (confirmed)                                          NaN
11/14/2014 New case/s (confirmed)                                          NaN
11/15/2014 New case/s (confirmed)                                          NaN
11/19/2014 New case/s (confirmed)                                          NaN
11/20/2014 New case/s (confirmed)                                          NaN
11/21/2014 New case/s (confirmed)                                          NaN
11/23/2014 New case/s (confirmed)                                          NaN
11/24/2014 New case/s (confirmed)                                          NaN
11/26/2014 New case/s (confirmed)                                          NaN
11/27/2014 New case/s (confirmed)                                          0.0
11/28/2014 New case/s (confirmed)                                          0.0
11/29/2014 New case/s (confirmed)                                          0.0
11/30/2014 New case/s (confirmed)                                          0.0
12/1/2014  New case/s (confirmed)                                          0.0
12/2/2014  New case/s (confirmed)                                          0.0
12/3/2014  New case/s (confirmed)                                          NaN
12/4/2014  New case/s (confirmed)                                         10.0
12/5/2014  New case/s (confirmed)                                         10.0
12/6/2014  New case/s (confirmed)                                         10.0
12/7/2014  New case/s (confirmed)                                         10.0
12/8/2014  New case/s (confirmed)                                         10.0
12/9/2014  New case/s (confirmed)                                         10.0

                                                               Grand Bassa  \
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/17/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/22/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/24/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/25/14    Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/28/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
6/29/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/1/2014   Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/2/2014   Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/3/2014   Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/7/2014   Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/8/2014   Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/10/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/13/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
7/17/2014  Total death/s in confirmed, probable, suspected...          NaN
           New case/s (confirmed)                                      NaN
...                                                                    ...
10/29/2014 Total death/s in confirmed, probable, suspected...         50.0
           New case/s (confirmed)                                      NaN
10/30/2014 Total death/s in confirmed, probable, suspected...         50.0
           New case/s (confirmed)                                      NaN
10/31/2014 New case/s (confirmed)                                      NaN
11/2/2014  Total death/s in confirmed, probable, suspected...         50.0
           New case/s (confirmed)                                      NaN
11/4/2014  New case/s (confirmed)                                      NaN
11/8/2014  New case/s (confirmed)                                      NaN
11/14/2014 New case/s (confirmed)                                      NaN
11/15/2014 New case/s (confirmed)                                      NaN
11/19/2014 New case/s (confirmed)                                      NaN
11/20/2014 New case/s (confirmed)                                      NaN
11/21/2014 New case/s (confirmed)                                      NaN
11/23/2014 New case/s (confirmed)                                      NaN
11/24/2014 New case/s (confirmed)                                      NaN
11/26/2014 New case/s (confirmed)                                      NaN
11/27/2014 New case/s (confirmed)                                      0.0
11/28/2014 New case/s (confirmed)                                      3.0
11/29/2014 New case/s (confirmed)                                      1.0
11/30/2014 New case/s (confirmed)                                      0.0
12/1/2014  New case/s (confirmed)                                      0.0
12/2/2014  New case/s (confirmed)                                      0.0
12/3/2014  New case/s (confirmed)                                      NaN
12/4/2014  New case/s (confirmed)                                     40.0
12/5/2014  New case/s (confirmed)                                     40.0
12/6/2014  New case/s (confirmed)                                     61.0
12/7/2014  New case/s (confirmed)                                     61.0
12/8/2014  New case/s (confirmed)                                     41.0
12/9/2014  New case/s (confirmed)                                     43.0

                                                               Grand Cape Mount  \
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...               NaN
           New case/s (confirmed)                                           NaN
6/17/2014  Total death/s in confirmed, probable, suspected...               NaN
           New case/s (confirmed)                                           NaN
6/22/2014  Total death/s in confirmed, probable, suspected...               NaN
           New case/s (confirmed)                                           NaN
6/24/2014  Total death/s in confirmed, probable, suspected...               NaN
           New case/s (confirmed)                                           NaN
6/25/14    Total death/s in confirmed, probable, suspected...               NaN
           New case/s (confirmed)                                           NaN
6/28/2014  Total death/s in confirmed, probable, suspected...               NaN

In [48]:
# rename the data
liberia_clean = liberia_relevant

#remove cols that have only NaN
liberia_clean = liberia_clean.dropna(axis=1, how='all')

#remove rows that have only NaN
liberia_clean = liberia_clean.dropna(axis=0, thresh=3)

# replace all NaNs with 0
liberia_clean.fillna(value=0, inplace=True)

# then make all types objects
def change_to_numeric(data):
    col_list = list(data.columns)
    col_list.remove('Date')
    col_list.remove('Variable')
    data[col_list] = data[col_list].apply(pd.to_numeric)
    
change_to_numeric(liberia_clean)


#  create my own total col
col_list = list(liberia_clean.columns)
col_list.remove('Date')
col_list.remove('Variable')
col_list.remove('National')
liberia_clean['total'] = liberia_clean[col_list].sum(axis=1)
liberia_clean['total']

# check my total with National
liberia_clean['total'] - liberia_clean['National']

7       -8.0
25       0.0
38       0.0
56       0.0
69       0.0
87       0.0
100      0.0
118      0.0
131      0.0
149      0.0
162      0.0
180      0.0
193      0.0
211      0.0
224      0.0
242      0.0
255      0.0
273      0.0
286      0.0
304      0.0
317      0.0
335      0.0
348      0.0
366      0.0
379      0.0
397      0.0
410      0.0
428      0.0
441      0.0
459      0.0
        ...
2060     0.0
2074     0.0
2092     0.0
2105     0.0
2123     0.0
2136     0.0
2154     0.0
2167     0.0
2185    -4.0
2199     0.0
2217     0.0
2231     0.0
2249     0.0
2263   -68.0
2295     0.0
2327     0.0
2391     0.0
2505     0.0
2761     0.0
2793     0.0
2825    -1.0
2857     0.0
2889     0.0
2921     0.0
2985     0.0
3017     0.0
3049    19.0
3081    19.0
3113    -1.0
3145    -1.0
dtype: float64

In [49]:
(liberia_clean['total'] - liberia_clean['National']).max(axis=0)

19.0

In [50]:
# there are several not equal rows. Where the Totals is 0 i can take the total:
liberia_clean[liberia_clean['total'] != liberia_clean['National']][liberia_clean['National'] > 0]

/home/lukas/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

,Bomi County,Bong County,Date,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,National,Nimba County,River Gee County,RiverCess County,Sinoe County,Unnamed: 18,Variable,total
7,0.0,0.0,6/16/2014,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,"Total death/s in confirmed, probable, suspecte...",8.0
1570,68.0,131.0,10/4/14,0.0,37.0,18.0,2.0,13.0,437.0,250.0,9.0,1.0,2199.0,137.0,6.0,8.0,2.0,0.0,"Total death/s in confirmed, probable, suspecte...",1119.0
1658,69.0,153.0,10/8/2014,2.0,40.0,22.0,2.0,17.0,439.0,261.0,9.0,7.0,2344.0,137.0,6.0,8.0,2.0,0.0,"Total death/s in confirmed, probable, suspecte...",1174.0
1690,69.0,158.0,10/9/2014,2.0,40.0,22.0,2.0,17.0,441.0,268.0,9.0,1207.0,2389.0,137.0,6.0,0.0,0.0,0.0,"Total death/s in confirmed, probable, suspecte...",2378.0
2185,0.0,0.0,10/23/2014,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,New case/s (confirmed),2.0
2263,79.0,3.0,10/28/2014,50.0,28.0,3.0,22.0,344.0,489.0,11.0,1308.0,37.0,2471.0,3.0,8.0,8.0,10.0,0.0,"Total death/s in confirmed, probable, suspecte...",2403.0
2825,0.0,0.0,11/29/2014,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,New case/s (confirmed),9.0
3049,135.0,135.0,12/6/2014,10.0,61.0,59.0,2.0,4.0,326.0,365.0,4.0,1630.0,2869.0,114.0,7.0,20.0,16.0,0.0,New case/s (confirmed),2888.0
3081,135.0,135.0,12/7/2014,10.0,61.0,59.0,2.0,4.0,326.0,365.0,4.0,1630.0,2869.0,114.0,7.0,20.0,16.0,0.0,New case/s (confirmed),2888.0
3113,135.0,135.0,12/8/2014,10.0,41.0,67.0,2.0,4.0,325.0,379.0,4.0,1667.0,2927.0,114.0,7.0,20.0,16.0,0.0,New case/s (confirmed),2926.0
3145,137.0,135.0,12/9/2014,10.0,43.0,68.0,2.0,4.0,326.0,383.0,4.0,1676.0,2946.0,114.0,7.0,20.0,16.0,0.0,New case/s (confirmed),2945.0

In [51]:
# They are never far off, to I can taky my total
liberia_final = liberia_clean[['Date', 'Variable', 'total']]
liberia_final.set_index(['Date', 'Variable'])

                                                                total
Date       Variable
6/16/2014  Total death/s in confirmed, probable, suspected...     8.0
           New case/s (confirmed)                                 1.0
6/17/2014  Total death/s in confirmed, probable, suspected...    16.0
           New case/s (confirmed)                                 0.0
6/22/2014  Total death/s in confirmed, probable, suspected...    25.0
           New case/s (confirmed)                                 5.0
6/24/2014  Total death/s in confirmed, probable, suspected...    32.0
           New case/s (confirmed)                                 4.0
6/25/14    Total death/s in confirmed, probable, suspected...    37.0
           New case/s (confirmed)                                 2.0
6/28/2014  Total death/s in confirmed, probable, suspected...    49.0
           New case/s (confirmed)                                 1.0
6/29/2014  Total death/s in confirmed, probable, suspected...    49.0
           New case/s (confirmed)                                 2.0
7/1/2014   Total death/s in confirmed, probable, suspected...    61.0
           New case/s (confirmed)                                 2.0
7/2/2014   Total death/s in confirmed, probable, suspected...    66.0
           New case/s (confirmed)                                 0.0
7/3/2014   Total death/s in confirmed, probable, suspected...    70.0
           New case/s (confirmed)                                 1.0
7/7/2014   Total death/s in confirmed, probable, suspected...    78.0
           New case/s (confirmed)                                 5.0
7/8/2014   Total death/s in confirmed, probable, suspected...    80.0
           New case/s (confirmed)                                 0.0
7/10/2014  Total death/s in confirmed, probable, suspected...    85.0
           New case/s (confirmed)                                 0.0
7/13/2014  Total death/s in confirmed, probable, suspected...    94.0
           New case/s (confirmed)                                 0.0
7/17/2014  Total death/s in confirmed, probable, suspected...   108.0
           New case/s (confirmed)                                 0.0
...                                                               ...
10/22/2014 New case/s (confirmed)                                 0.0
7/26/2014  Total death/s in confirmed, probable, suspected...   145.0
           New case/s (confirmed)                                 6.0
9/10/2014  Total death/s in confirmed, probable, suspected...  1296.0
           New case/s (confirmed)                                 2.0
10/3/2014  Total death/s in confirmed, probable, suspected...  2154.0
           New case/s (confirmed)                                 2.0
10/23/2014 Total death/s in confirmed, probable, suspected...  2104.0
           New case/s (confirmed)                                 2.0
10/24/14   Total death/s in confirmed, probable, suspected...  2104.0
           New case/s (confirmed)                                 0.0
10/25/2014 Total death/s in confirmed, probable, suspected...  2106.0
           New case/s (confirmed)                                 1.0
10/28/2014 Total death/s in confirmed, probable, suspected...  2403.0
10/29/2014 Total death/s in confirmed, probable, suspected...  2609.0
10/30/2014 Total death/s in confirmed, probable, suspected...  2636.0
11/2/2014  Total death/s in confirmed, probable, suspected...  2700.0
11/14/2014 New case/s (confirmed)                                 0.0
11/27/2014 New case/s (confirmed)                                12.0
11/28/2014 New case/s (confirmed)                                 7.0
11/29/2014 New case/s (confirmed)                                 9.0
11/30/2014 New case/s (confirmed)                                10.0
12/1/2014  New case/s (confirmed)                                 1.0
12/2/2014  New case/s (confirmed)                                 9.0
12/4/2014  New case/s (confirmed)                              2867.0
12/5/2014  New case/s (confirmed)                              2867.0
12/6/2014  New case/s (confirmed)                              2888.0
12/7/2014  New case/s (confirmed)                              2888.0
12/8/2014  New case/s (confirmed)                              2926.0
12/9/2014  New case/s (confirmed)                              2945.0

[159 rows x 1 columns]

#### Merge the 3 countries

In [52]:
# rename variables
new_infected = 'new_infected'
new_death = 'new_death'

In [53]:
sl_final = sl_data_final
# we take the variable names 'new_confirmed' and 'death_confirmed'
sl_final['variable'][sl_final['variable'] == 'new_confirmed'] = new_death
sl_final['variable'][sl_final['variable'] == 'death_confirmed'] = new_infected
sl_final.head()

          date      variable  total
4   2014-08-12     new_death   11.0
11  2014-08-12  new_infected  264.0
33  2014-08-13     new_death   15.0
40  2014-08-13  new_infected  273.0
62  2014-08-14     new_death   13.0

In [54]:
guinea_final['Description'][guinea_final['Description'] == 'Total cases of confirmed'] = new_death
guinea_final['Description'][guinea_final['Description'] == 'Total deaths (confirmed + probables + suspects)'] = new_infected
guinea_final.head()

          Date   Description  total
6   2014-08-04     new_death  351.0
15  2014-08-04  new_infected  363.0
48  2014-08-26     new_death  490.0
55  2014-08-26  new_infected  958.0
80  2014-08-27     new_death  438.0

In [55]:
liberia_final['Variable'][liberia_final['Variable'] == 'Total death/s in confirmed, probable, suspected cases'] = new_death
liberia_final['Variable'][liberia_final['Variable'] == 'New case/s (confirmed)'] = new_infected
liberia_final.head()

         Date      Variable  total
7   6/16/2014     new_death    8.0
25  6/16/2014  new_infected    1.0
38  6/17/2014     new_death   16.0
56  6/17/2014  new_infected    0.0
69  6/22/2014     new_death   25.0

In [56]:
# make date of liberia the same as the other two
liberia_final['Date'] = liberia_final['Date'].apply(lambda x: x.replace('/', '-')) # replace '/' by '-'
liberia_final['Date'].apply(lambda x: x.split('-')[2] + '-' + x.split('-')[1] + '-' + x.split('-')[0])
liberia_final.head()

         Date      Variable  total
7   6-16-2014     new_death    8.0
25  6-16-2014  new_infected    1.0
38  6-17-2014     new_death   16.0
56  6-17-2014  new_infected    0.0
69  6-22-2014     new_death   25.0

In [57]:
# put in a country column
sl_final['country'] = 'sl'
guinea_final['country'] = 'guinea'
liberia_final['country'] = 'liberia'
sl_final.head()

          date      variable  total country
4   2014-08-12     new_death   11.0      sl
11  2014-08-12  new_infected  264.0      sl
33  2014-08-13     new_death   15.0      sl
40  2014-08-13  new_infected  273.0      sl
62  2014-08-14     new_death   13.0      sl

In [58]:
# put the new_death and new_infected as column
sl_final[new_infected] = np.nan
sl_final[new_death] = np.nan
#sl_final = sl_final.set_index(['country', 'date', 'variable'])
sl_final.head()

          date      variable  total country  new_infected  new_death
4   2014-08-12     new_death   11.0      sl           NaN        NaN
11  2014-08-12  new_infected  264.0      sl           NaN        NaN
33  2014-08-13     new_death   15.0      sl           NaN        NaN
40  2014-08-13  new_infected  273.0      sl           NaN        NaN
62  2014-08-14     new_death   13.0      sl           NaN        NaN

In [59]:
sl_final.iterrows

<bound method DataFrame.iterrows of             date      variable   total country  new_infected  new_death
4     2014-08-12     new_death    11.0      sl           NaN        NaN
11    2014-08-12  new_infected   264.0      sl           NaN        NaN
33    2014-08-13     new_death    15.0      sl           NaN        NaN
40    2014-08-13  new_infected   273.0      sl           NaN        NaN
62    2014-08-14     new_death    13.0      sl           NaN        NaN
69    2014-08-14  new_infected   280.0      sl           NaN        NaN
91    2014-08-15     new_death    10.0      sl           NaN        NaN
98    2014-08-15  new_infected   287.0      sl           NaN        NaN
120   2014-08-16     new_death    18.0      sl           NaN        NaN
127   2014-08-16  new_infected   297.0      sl           NaN        NaN
149   2014-08-17     new_death     2.0      sl           NaN        NaN
156   2014-08-17  new_infected   305.0      sl           NaN        NaN
178   2014-08-18     new_death     5.0      sl           NaN        NaN
185   2014-08-18  new_infected   312.0      sl           NaN        NaN
207   2014-08-19     new_death     9.0      sl           NaN        NaN
214   2014-08-19  new_infected   320.0      sl           NaN        NaN
236   2014-08-20     new_death     4.0      sl           NaN        NaN
243   2014-08-20  new_infected   322.0      sl           NaN        NaN
265   2014-08-21     new_death     9.0      sl           NaN        NaN
272   2014-08-21  new_infected   329.0      sl           NaN        NaN
294   2014-08-22     new_death    56.0      sl           NaN        NaN
301   2014-08-22  new_infected   333.0      sl           NaN        NaN
323   2014-08-23     new_death    23.0      sl           NaN        NaN
330   2014-08-23  new_infected   336.0      sl           NaN        NaN
352   2014-08-24     new_death    31.0      sl           NaN        NaN
359   2014-08-24  new_infected   341.0      sl           NaN        NaN
381   2014-08-25     new_death    20.0      sl           NaN        NaN
388   2014-08-25  new_infected   355.0      sl           NaN        NaN
410   2014-08-26     new_death     6.0      sl           NaN        NaN
417   2014-08-26  new_infected   363.0      sl           NaN        NaN
...          ...           ...     ...     ...           ...        ...
2607  2014-11-13  new_infected     0.0      sl           NaN        NaN
2637  2014-11-15     new_death    54.0      sl           NaN        NaN
2644  2014-11-15  new_infected     0.0      sl           NaN        NaN
2674  2014-11-16     new_death    89.0      sl           NaN        NaN
2681  2014-11-16  new_infected     0.0      sl           NaN        NaN
2711  2014-11-17     new_death    53.0      sl           NaN        NaN
2718  2014-11-17  new_infected     0.0      sl           NaN        NaN
2748  2014-11-18     new_death    43.0      sl           NaN        NaN
2755  2014-11-18  new_infected     0.0      sl           NaN        NaN
2822  2014-11-20     new_death    94.0      sl           NaN        NaN
2829  2014-11-20  new_infected  1282.0      sl           NaN        NaN
2859  2014-11-21     new_death    51.0      sl           NaN        NaN
2866  2014-11-21  new_infected  1303.0      sl           NaN        NaN
2896  2014-11-22     new_death    47.0      sl           NaN        NaN
2903  2014-11-22  new_infected  1333.0      sl           NaN        NaN
2933  2014-11-23     new_death    39.0      sl           NaN        NaN
2940  2014-11-23  new_infected  1364.0      sl           NaN        NaN
2970  2014-11-24     new_death    83.0      sl           NaN        NaN
2977  2014-11-24  new_infected  1397.0      sl           NaN        NaN
3007  2014-11-28     new_death    84.0      sl           NaN        NaN
3014  2014-11-28  new_infected  2962.0      sl           NaN        NaN
3044  2014-11-29     new_death   134.0      sl           NaN        NaN
3051  2014-11-29  new_infected  1496.0      sl           NaN        NaN
3081  2014-12-01     new_death    72.0      sl           NaN        NaN
3088  2014-12-01  new_infected  1549.0      sl           NaN        NaN
3118  2014-12-04     new_death    37.0      sl           NaN        NaN
3125  2014-12-04  new_infected  1648.0      sl           NaN        NaN
3155  2014-12-05     new_death    54.0      sl           NaN        NaN
3162  2014-12-05  new_infected  1669.0      sl           NaN        NaN
3199  2014-12-06  new_infected  1708.0      sl           NaN        NaN

[199 rows x 6 columns]>

## References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do) Wes McKinney